
</div>
</div>
<div id="footer">

<div id="container-inside">

  <div class="column">
 <?php if ($logo) { ?>
      <div id="logo" class="footer-logo">
        <a href="<?php echo $home; ?>
          ">
          <img src="<?php echo $logo; ?>
          " title="
          <?php echo $name; ?>
          " alt="
          <?php echo $name; ?>" /></a>
        <br>
    </div>
    <?php } ?>
   
    
  </div>
   <div class="column">  
    <?php if ($categories) { ?>
  <ul>
    <?php foreach ($categories as $category) { ?>
    <li>
      <a href="<?php echo $category['href']; ?>
        ">
        <?php echo $category['name']; ?></a>
      </li>
    <?php } ?></ul>

<?php } ?>
    </div>




   <div class="column"> 
     <ul>
      <li>        
      <?php foreach ($informations as $information) { ?>
            <li><a href="<?php echo $information['href']; ?>">
            <?php echo $information['title']; ?></a></li>
      <?php } ?>
    </ul> 
   </div> 

  <br>
  <br>
  <div class="footer-tel">
    <div><span>067</span> 583 37 73</div>
      <div><span>093</span> 873 79 33</div> 
      <div><span>095</span> 399 72 37 </div>
  </div>
  <div class="footer-work">
    <span>График работы: </span>
     <div>Пн Пт 8:00-19:00</div>
     <div>Сб Вс 9:00-17:00</div>
  </div>
  <div class="footer-geo">
     <div>г. Белая Церковь</div>
     <div>ул. Вокзальная 18</div>
  </div>
  <div class="footer-icq">
     <div>682173284</div>
  </div>
   <img src="/catalog/view/theme/default/image/phone3-512.png" alt="img" class="footer-tel-img">
   <img src="/catalog/view/theme/default/image/Watch-50.png" alt="img" class="footer-work-img">
   <img src="/catalog/view/theme/default/image/Map-Marker-50.png" alt="img" class="footer-geo-img">
   <img src="/catalog/view/theme/default/image/ICQ-Filled-50.png" alt="img" class="footer-icq-img">
</div>
  </div>
<!-- footer -->
</body>
</html>