<?php echo $header; ?>
<?php echo $column_left; ?>
<?php echo $column_right; ?>
<div id="content">
  <?php echo $content_top; ?>
<div class="breadcrumb">
  <?php foreach ($breadcrumbs as $breadcrumb) { ?>
  <?php echo $breadcrumb['separator']; ?>
  <a href="<?php echo $breadcrumb['href']; ?>
    ">
    <?php echo $breadcrumb['text']; ?></a>
  <?php } ?></div>

<h1>
  <?php echo $heading_title; ?></h1>
<div class="product-info">
  <?php if ($thumb || $images) { ?>
  <div class="left">
    <?php if ($thumb) { ?>
    <div class="image">
      <a href="<?php echo $popup; ?>
        " title="
        <?php echo $heading_title; ?>
        " class="colorbox">
        <img src="<?php echo $thumb; ?>
        " title="
        <?php echo $heading_title; ?>
        " alt="
        <?php echo $heading_title; ?>" id="image" /></a>
    </div>
    <?php } ?>
    <?php if ($images) { ?>
    <div class="image-additional">
      <?php foreach ($images as $image) { ?>
      <a href="<?php echo $image['popup']; ?>
        " title="
        <?php echo $heading_title; ?>
        " class="colorbox">
        <img src="<?php echo $image['thumb']; ?>
        " title="
        <?php echo $heading_title; ?>
        " alt="
        <?php echo $heading_title; ?>" /></a>
      <?php } ?></div>
    <?php } ?></div>
  <?php } ?>
  <div class="right">



<!-- description start -->
<div class="product-description">
  <?php if ($attribute_groups) { ?>
    <?php foreach ($attribute_groups as $attribute_group) { ?>
        <div class="product-description-name">  <?php echo $attribute_group['name']; ?></div> 
          <?php foreach ($attribute_group['attribute'] as $attribute) { ?>
              <?php echo $attribute['name']; ?>          
              <?php echo $attribute['text']; ?>       
          <?php } ?>
    <?php } ?>
  <?php } ?>
</div>
<!-- description end -->




    <div class="description">
      <?php if ($manufacturer) { ?>
      <span>
        <?php echo $text_manufacturer; ?></span>
      <a href="<?php echo $manufacturers; ?>
        ">
        <?php echo $manufacturer; ?></a>
      <br />
      <?php } ?>
      <!-- <span><?php echo $text_model; ?></span> -->
      <!-- <?php echo $model; ?> -->
      <br />
      <?php if ($reward) { ?>
      <span>
        <?php echo $text_reward; ?></span>
      <?php echo $reward; ?>
      <br />
      <?php } ?>
      <!-- <span>
      <?php echo $text_stock; ?></span>
    -->
    <?php 
        if ( $stock > 0 ) {
           echo '<span class="stock-text">'. $text_stock .'</span>';
        }
     ?>
    <fieldset class="quant-fildset">
       <!-- <?php echo $text_qty; ?> -->
          <input type="text" name="quantity" size="2" value="<?php echo $minimum; ?>
      " />
        <div class="quant-nav">
          <div class="plus">+</div>
          <div class="minus">-</div>
        </div>
        
    </fieldset>
    <!-- <?php echo $stock; ?>--></div>
  <?php if ($price) { ?>

  <div class="price"> <b>Цена:</b>
    <?php if (!$special) { ?>
    <?php echo $price; ?>
    <?php } else { ?>
    <span class="price-old">
      <?php echo $price; ?></span>
    <span class="price-new">
      <?php echo $special; ?></span>
    <?php } ?>
    <br />
    <?php if ($tax) { ?>
    <span class="price-tax">
      <?php echo $text_tax; ?>
      <?php echo $tax; ?></span>
    <br />
    <?php } ?>
    <?php if ($points) { ?>
    <span class="reward">
      <small>
        <?php echo $text_points; ?>
        <?php echo $points; ?></small>
    </span>
    <br />
    <?php } ?>
    <?php if ($discounts) { ?>
    <br />
    <div class="discount">
      <?php foreach ($discounts as $discount) { ?>
      <?php echo sprintf($text_discount, $discount['quantity'], $discount['price']); ?>
      <br />
      <?php } ?></div>
    <?php } ?></div>
  <?php } ?>
  <?php if ($options) { ?>
  <div class="options">
    <h2>
      <?php echo $text_option; ?></h2>
    <br />
    <?php foreach ($options as $option) { ?>
    <?php if ($option['type'] == 'select') { ?>
    <div id="option-<?php echo $option['product_option_id']; ?>
      " class="option">
      <?php if ($option['required']) { ?>
      <span class="required">*</span>
      <?php } ?> <b><?php echo $option['name']; ?>:</b>
      <br />
      <select name="option[<?php echo $option['product_option_id']; ?>
        ]">
        <option value="">
          <?php echo $text_select; ?></option>
        <?php foreach ($option['option_value'] as $option_value) { ?>
        <option value="<?php echo $option_value['product_option_value_id']; ?>
          ">
          <?php echo $option_value['name']; ?>
          <?php if ($option_value['price']) { ?>
          (
          <?php echo $option_value['price_prefix']; ?>
          <?php echo $option_value['price']; ?>
          )
          <?php } ?></option>
        <?php } ?></select>
    </div>
    <br />
    <?php } ?>
    <?php if ($option['type'] == 'radio') { ?>
    <div id="option-<?php echo $option['product_option_id']; ?>
      " class="option">
      <?php if ($option['required']) { ?>
      <span class="required">*</span>
      <?php } ?>
      <b><?php echo $option['name']; ?>:</b>
      <br />
      <?php foreach ($option['option_value'] as $option_value) { ?>
      <input type="radio" name="option[<?php echo $option['product_option_id']; ?>
      ]" value="
      <?php echo $option_value['product_option_value_id']; ?>
      " id="option-value-
      <?php echo $option_value['product_option_value_id']; ?>
      " />
      <label for="option-value-<?php echo $option_value['product_option_value_id']; ?>
        ">
        <?php echo $option_value['name']; ?>
        <?php if ($option_value['price']) { ?>
        (
        <?php echo $option_value['price_prefix']; ?>
        <?php echo $option_value['price']; ?>
        )
        <?php } ?></label>
      <br />
      <?php } ?></div>
    <br />
    <?php } ?>
    <?php if ($option['type'] == 'checkbox') { ?>
    <div id="option-<?php echo $option['product_option_id']; ?>
      " class="option">
      <?php if ($option['required']) { ?>
      <span class="required">*</span>
      <?php } ?>
      <b>
        <?php echo $option['name']; ?>:</b>
      <br />
      <?php foreach ($option['option_value'] as $option_value) { ?>
      <input type="checkbox" name="option[<?php echo $option['product_option_id']; ?>
      ][]" value="
      <?php echo $option_value['product_option_value_id']; ?>
      " id="option-value-
      <?php echo $option_value['product_option_value_id']; ?>
      " />
      <label for="option-value-<?php echo $option_value['product_option_value_id']; ?>
        ">
        <?php echo $option_value['name']; ?>
        <?php if ($option_value['price']) { ?>
        (
        <?php echo $option_value['price_prefix']; ?>
        <?php echo $option_value['price']; ?>
        )
        <?php } ?></label>
      <br />
      <?php } ?></div>
    <br />
    <?php } ?>
    <?php if ($option['type'] == 'image') { ?>
    <div id="option-<?php echo $option['product_option_id']; ?>
      " class="option">
      <?php if ($option['required']) { ?>
      <span class="required">*</span>
      <?php } ?>
      <b>
        <?php echo $option['name']; ?>:</b>
      <br />
      <table class="option-image">
        <?php foreach ($option['option_value'] as $option_value) { ?>
        <tr>
          <td style="width: 1px;">
            <input type="radio" name="option[<?php echo $option['product_option_id']; ?>
            ]" value="
            <?php echo $option_value['product_option_value_id']; ?>
            " id="option-value-
            <?php echo $option_value['product_option_value_id']; ?>" /></td>
          <td>
            <label for="option-value-<?php echo $option_value['product_option_value_id']; ?>
              ">
              <img src="<?php echo $option_value['image']; ?>
              " alt="
              <?php echo $option_value['name'] . ($option_value['price'] ? ' ' . $option_value['price_prefix'] . $option_value['price'] : ''); ?>" /></label>
          </td>
          <td>
            <label for="option-value-<?php echo $option_value['product_option_value_id']; ?>
              ">
              <?php echo $option_value['name']; ?>
              <?php if ($option_value['price']) { ?>
              (
              <?php echo $option_value['price_prefix']; ?>
              <?php echo $option_value['price']; ?>
              )
              <?php } ?></label>
          </td>
        </tr>
        <?php } ?></table>
    </div>
    <br />
    <?php } ?>
    <?php if ($option['type'] == 'text') { ?>
    <div id="option-<?php echo $option['product_option_id']; ?>
      " class="option">
      <?php if ($option['required']) { ?>
      <span class="required">*</span>
      <?php } ?>
      <b>
        <?php echo $option['name']; ?>:</b>
      <br />
      <input type="text" name="option[<?php echo $option['product_option_id']; ?>
      ]" value="
      <?php echo $option['option_value']; ?>" /></div>
    <br />
    <?php } ?>
    <?php if ($option['type'] == 'textarea') { ?>
    <div id="option-<?php echo $option['product_option_id']; ?>
      " class="option">
      <?php if ($option['required']) { ?>
      <span class="required">*</span>
      <?php } ?>
      <b>
        <?php echo $option['name']; ?>:</b>
      <br />
      <textarea name="option[<?php echo $option['product_option_id']; ?>
        ]" cols="40" rows="5">
        <?php echo $option['option_value']; ?></textarea>
    </div>
    <br />
    <?php } ?>
    <?php if ($option['type'] == 'file') { ?>
    <div id="option-<?php echo $option['product_option_id']; ?>
      " class="option">
      <?php if ($option['required']) { ?>
      <span class="required">*</span>
      <?php } ?>
      <b>
        <?php echo $option['name']; ?>:</b>
      <br />
      <input type="button" value="<?php echo $button_upload; ?>
      " id="button-option-
      <?php echo $option['product_option_id']; ?>
      " class="button">
      <input type="hidden" name="option[<?php echo $option['product_option_id']; ?>]" value="" /></div>
    <br />
    <?php } ?>
    <?php if ($option['type'] == 'date') { ?>
    <div id="option-<?php echo $option['product_option_id']; ?>
      " class="option">
      <?php if ($option['required']) { ?>
      <span class="required">*</span>
      <?php } ?>
      <b>
        <?php echo $option['name']; ?>:</b>
      <br />
      <input type="text" name="option[<?php echo $option['product_option_id']; ?>
      ]" value="
      <?php echo $option['option_value']; ?>" class="date" /></div>
    <br />
    <?php } ?>
    <?php if ($option['type'] == 'datetime') { ?>
    <div id="option-<?php echo $option['product_option_id']; ?>
      " class="option">
      <?php if ($option['required']) { ?>
      <span class="required">*</span>
      <?php } ?>
      <b>
        <?php echo $option['name']; ?>:</b>
      <br />
      <input type="text" name="option[<?php echo $option['product_option_id']; ?>
      ]" value="
      <?php echo $option['option_value']; ?>" class="datetime" /></div>
    <br />
    <?php } ?>
    <?php if ($option['type'] == 'time') { ?>
    <div id="option-<?php echo $option['product_option_id']; ?>
      " class="option">
      <?php if ($option['required']) { ?>
      <span class="required">*</span>
      <?php } ?>
      <b>
        <?php echo $option['name']; ?>:</b>
      <br />
      <input type="text" name="option[<?php echo $option['product_option_id']; ?>
      ]" value="
      <?php echo $option['option_value']; ?>" class="time" /></div>
    <br />
    <?php } ?>
    <?php } ?></div>
  <?php } ?>
  <div class="cart">
    <div>
      

      <input type="hidden" name="product_id" size="2" value="<?php echo $product_id; ?>
      " />
      <!-- <span class="detail-buy-btn-container">
        <span class="sprite-side btn-link btn-link-green detail-buy-btn-link"> -->
          <input class="product-button" type="submit" value="Купить" id="button-cart">
          <!-- <br> -->
          <!-- <br> -->
          <!-- <br> -->
          <!-- <a style="margin-left:-145px; font-size:17px; color:#009FFF;" id="spcallmeback_btn_1" class="spcallmeback_raise_btn" href="#spcallmeback_1">Получить больше информации</a> -->
          <!-- <br> -->
          <!-- <a style="margin-left:-145px; font-size:17px; color:#009FFF;" href="dostavka">Доставка по Киеву и регионам</a> -->

        </input>
    <!--   </span>
    </span> -->

    <span>
    
      <!-- <?php echo $text_or; ?>&nbsp;&nbsp;</span> -->
      <br>
      <br>
    <span class="links">
      <a onclick="addToWishList('<?php echo $product_id; ?>');">
        <?php echo $button_wishlist; ?></a>
      <br />
     <!--  <a onclick="addToCompare('<?php echo $product_id; ?>
        ');">
        <?php echo $button_compare; ?></a> -->
    </span>
  </div>
  <?php if ($minimum >
  1) { ?>
  <div class="minimum">
    <?php echo $text_minimum; ?></div>
  <?php } ?></div>

</div>
</div>
<div id="tabs" class="htabs">
<a href="#tab-description">
<?php echo $tab_description; ?></a>
<?php if ($attribute_groups) { ?>
<a href="#tab-attribute">
<?php echo $tab_attribute; ?></a>
<?php } ?>
<?php if ($review_status) { ?>
<a href="#tab-review">
<?php echo $tab_review; ?></a>
<?php } ?>
<?php if ($products) { ?>
<a href="#tab-related">
<?php echo $tab_related; ?>
(
<?php echo count($products); ?>)</a>
<?php } ?></div>
<div id="tab-description" class="tab-content">
<?php echo $description; ?></div>
<!-- description start -->
<!-- <?php if ($attribute_groups) { ?>
<div id="tab-attribute" class="tab-content">
<table class="attribute">
<?php foreach ($attribute_groups as $attribute_group) { ?>
<thead>
  <tr>
    <td colspan="2">
      <?php echo $attribute_group['name']; ?></td>
  </tr>
</thead>
<tbody>
  <?php foreach ($attribute_group['attribute'] as $attribute) { ?>
  <tr>
    <td>
      <?php echo $attribute['name']; ?></td>
    <td>
      <?php echo $attribute['text']; ?></td>
  </tr>
  <?php } ?></tbody>
<?php } ?></table>
</div>
<?php } ?> 

-->

<!-- description end -->

<?php if ($review_status) { ?>
<div id="tab-review" class="tab-content">
<div id="review"></div>
<h2 id="review-title">
<?php echo $text_write; ?></h2>
<b>
<?php echo $entry_name; ?></b>
<br />
<input type="text" name="name" value="" />
<br />
<br />
<b>
<?php echo $entry_review; ?></b>
<textarea name="text" cols="40" rows="8" style="width: 98%;"></textarea>
<span style="font-size: 11px;">
<?php echo $text_note; ?></span>
<br />
<br />
<b>
<?php echo $entry_rating; ?></b>
<span>
<?php echo $entry_bad; ?></span>
&nbsp;
<input type="radio" name="rating" value="1" />
&nbsp;
<input type="radio" name="rating" value="2" />
&nbsp;
<input type="radio" name="rating" value="3" />
&nbsp;
<input type="radio" name="rating" value="4" />
&nbsp;
<input type="radio" name="rating" value="5" />
&nbsp;
<span>
<?php echo $entry_good; ?></span>
<br />
<br />
<b>
<?php echo $entry_captcha; ?></b>
<br />
<input type="text" name="captcha" value="" />
<br />
<img src="index.php?route=product/product/captcha" alt="" id="captcha" />
<br />
<br />
<div class="buttons">
<div class="right">
  <a id="button-review" class="button">
    <?php echo $button_continue; ?></a>
</div>
</div>
</div>
<?php } ?>

<?php if ($tags) { ?>
<!-- <div class="tags">
<b>
<?php echo $text_tags; ?></b>
<?php for ($i = 0; $i < count($tags); $i++) { ?>
<?php if ($i < (count($tags) - 1)) { ?>
<a href="<?php echo $tags[$i]['href']; ?>
">
<?php echo $tags[$i]['tag']; ?></a>
,
<?php } else { ?>
<a href="<?php echo $tags[$i]['href']; ?>
">
<?php echo $tags[$i]['tag']; ?></a>
<?php } ?>
<?php } ?></div>
-->
<?php } ?>







<!-- related -->
 <div class="box-heading">
     <?php echo $related_title; ?>
  </div>
<?php if ($products) { ?>
<div class="box-slide-wrapper" >
<div class="box-product" id="slideshow-related">
<?php foreach ($products as $product) { ?>
        <div class="item">
            <?php if ($product['thumb']) { ?>
        <div class="image">
          <a href="<?php echo $product['href']; ?>
            ">
            <img src="<?php echo $product['thumb']; ?>
            " alt="
            <?php echo $product['name']; ?>" /></a>
        </div>
        <?php } ?>
        <div class="name">
          <a href="<?php echo $product['href']; ?>
            ">
            <?php echo $product['name']; ?></a>
        </div>
        <?php if ($product['price']) { ?>
        <div class="price">
          <?php if (!$product['special']) { ?>
          <?php echo $product['price']; ?>
          <?php } else { ?> 
          <span class="price-old">
            <?php echo $product['price']; ?></span>
          <span class="price-new">
            <?php echo $product['special']; ?></span>
          <?php } ?></div>
        <?php } ?>
        <?php if ($product['rating']) { ?>
        <div class="rating">
          <img src="catalog/view/theme/default/image/stars-<?php echo $product['rating']; ?>
          .png" alt="
          <?php echo $product['reviews']; ?>" /></div>
        <?php } ?>       
       
            <input type="button" value="<?php echo $button_cart; ?>" onclick="addToCart('<?php echo $product['product_id']; ?>');" class="special-button" id="button-cart" />
        </div>
      <?php } ?>
</div>
</div>
<?php } ?>



<script>
  $(document).ready(function() {
  // $('#slideshow<?php echo $module; ?>').nivoSlider();
   $("#slideshow-related").owlCarousel({
      slideSpeed : 300,
      paginationSpeed : 600,
      items: 6,
      // singleItem : true,
      autoPlay : true,
      stopOnHover :true
      
      // navigationText  ["prev","next"]

  });
});
</script>
<!-- end related -->






<?php echo $content_bottom; ?></div>
<script type="text/javascript"><!--
$(document).ready(function() {
  $('.colorbox').colorbox({
    overlayClose: true,
    opacity: 0.5,
    rel: "colorbox"
  });
});
//--></script>
<script type="text/javascript"><!--
$('#button-cart').bind('click', function() {
  $.ajax({
    url: 'index.php?route=checkout/cart/add',
    type: 'post',
    data: $('.product-info input[type=\'text\'], .product-info input[type=\'hidden\'], .product-info input[type=\'radio\']:checked, .product-info input[type=\'checkbox\']:checked, .product-info select, .product-info textarea'),
    dataType: 'json',
    success: function(json) {
      $('.success, .warning, .attention, information, .error').remove();
      
      if (json['error']) {
        if (json['error']['option']) {
          for (i in json['error']['option']) {
            $('#option-' + i).after('<span class="error">' + json['error']['option'][i] + '</span>');
          }
        }
      } 
      
      if (json['success']) {
        $('#notification').html('<div class="success" style="display: none;">' + json['success'] + '<img src="catalog/view/theme/default/image/close.png" alt="" class="close" /></div>');
          
        $('.success').fadeIn('slow');
          
        $('#cart-total').html(json['total']);
        
        $('html, body').animate({ scrollTop: 0 }, 'slow'); 
      } 
    }
  });
});
//--></script>
<?php if ($options) { ?>
<script type="text/javascript" src="catalog/view/javascript/jquery/ajaxupload.js"></script>
<?php foreach ($options as $option) { ?>
<?php if ($option['type'] == 'file') { ?>
<script type="text/javascript"><!--
new AjaxUpload('#button-option-<?php echo $option['product_option_id']; ?>', {
  action: 'index.php?route=product/product/upload',
  name: 'file',
  autoSubmit: true,
  responseType: 'json',
  onSubmit: function(file, extension) {
    $('#button-option-<?php echo $option['product_option_id']; ?>').after('<img src="catalog/view/theme/default/image/loading.gif" class="loading" style="padding-left: 5px;" />');
    $('#button-option-<?php echo $option['product_option_id']; ?>').attr('disabled', true);
  },
  onComplete: function(file, json) {
    $('#button-option-<?php echo $option['product_option_id']; ?>').attr('disabled', false);
    
    $('.error').remove();
    
    if (json['success']) {
      alert(json['success']);
      
      $('input[name=\'option[<?php echo $option['product_option_id']; ?>]\']').attr('value', json['file']);
    }
    
    if (json['error']) {
      $('#option-<?php echo $option['product_option_id']; ?>').after('<span class="error">' + json['error'] + '</span>');
    }
    
    $('.loading').remove(); 
  }
});
//--></script>
<?php } ?>
<?php } ?>
<?php } ?>
<script type="text/javascript"><!--
$('#review .pagination a').live('click', function() {
  $('#review').fadeOut('slow');
    
  $('#review').load(this.href);
  
  $('#review').fadeIn('slow');
  
  return false;
});     

$('#review').load('index.php?route=product/product/review&product_id=<?php echo $product_id; ?>');

$('#button-review').bind('click', function() {
  $.ajax({
    url: 'index.php?route=product/product/write&product_id=<?php echo $product_id; ?>',
    type: 'post',
    dataType: 'json',
    data: 'name=' + encodeURIComponent($('input[name=\'name\']').val()) + '&text=' + encodeURIComponent($('textarea[name=\'text\']').val()) + '&rating=' + encodeURIComponent($('input[name=\'rating\']:checked').val() ? $('input[name=\'rating\']:checked').val() : '') + '&captcha=' + encodeURIComponent($('input[name=\'captcha\']').val()),
    beforeSend: function() {
      $('.success, .warning').remove();
      $('#button-review').attr('disabled', true);
      $('#review-title').after('<div class="attention"><img src="catalog/view/theme/default/image/loading.gif" alt="" /> <?php echo $text_wait; ?></div>');
    },
    complete: function() {
      $('#button-review').attr('disabled', false);
      $('.attention').remove();
    },
    success: function(data) {
      if (data['error']) {
        $('#review-title').after('<div class="warning">' + data['error'] + '</div>');
      }
      
      if (data['success']) {
        $('#review-title').after('<div class="success">' + data['success'] + '</div>');
                
        $('input[name=\'name\']').val('');
        $('textarea[name=\'text\']').val('');
        $('input[name=\'rating\']:checked').attr('checked', '');
        $('input[name=\'captcha\']').val('');
      }
    }
  });
});
//--></script>
<script type="text/javascript"><!--
$('#tabs a').tabs();
//--></script>
<script type="text/javascript" src="catalog/view/javascript/jquery/ui/jquery-ui-timepicker-addon.js"></script>
<script type="text/javascript"><!--
$(document).ready(function() {
  if ($.browser.msie && $.browser.version == 6) {
    $('.date, .datetime, .time').bgIframe();
  }

  $('.date').datepicker({dateFormat: 'yy-mm-dd'});
  $('.datetime').datetimepicker({
    dateFormat: 'yy-mm-dd',
    timeFormat: 'h:m'
  });
  $('.time').timepicker({timeFormat: 'h:m'});
});
//--></script>

<script>
  $('.plus').click(function() {
    var oldVal = parseInt($('input[name="quantity"]').val());
    $('input[name="quantity"]').val(oldVal + 1);
  });

  $('.minus').click(function() {
    var oldVal = parseInt($('input[name="quantity"]').val());
    if ( oldVal < 2 ) {
        oldVal = 1;
    } else {
      oldVal -= 1;
    }
    $('input[name="quantity"]').val(oldVal);
  });
  
</script>

<?php echo $footer; ?>