@font-face {
    font-family: 'MyriadProReg';
    src: url('../font/MyriadPro/MyriadProRegular/MyriadProRegular.eot');
    src: url('../font/MyriadPro/MyriadProRegular/MyriadProRegular.eot') format('embedded-opentype'),         
         url('../font/MyriadPro/MyriadProRegular/MyriadProRegular.woff') format('woff'),
         url('../font/MyriadPro/MyriadProRegular/MyriadProRegular.ttf') format('truetype');         
}

@font-face {
    font-family: 'MyriadProBold';
    src: url('../font/MyriadPro/MyriadProBold/MyriadProBold.eot');
    src: url('../font/MyriadPro/MyriadProBold/MyriadProBold.eot') format('embedded-opentype'),         
         url('../font/MyriadPro/MyriadProBold/MyriadProBold.woff') format('woff'),
         url('../font/MyriadPro/MyriadProBold/MyriadProBold.ttf') format('truetype');         
}

@font-face {
    font-family: 'RobotoBlack';
    src: url('../font/Roboto/Bold/RobotoBlack.eot');
    src: url('../font/Roboto/Bold/RobotoBlack.eot') format('embedded-opentype'),
         url('../font/Roboto/Bold/RobotoBlack.woff2') format('woff2'),
         url('../font/Roboto/Bold/RobotoBlack.woff') format('woff'),
         url('../font/Roboto/Bold/RobotoBlack.ttf') format('truetype'),
         url('../font/Roboto/Bold/RobotoBlack.svg#RobotoBlack') format('svg');
}


@font-face {
    font-family: 'PTSansBold';
    src: url('../font/PTSans/Bold/PTSansBold.eot');
    src: url('../font/PTSans/Bold/PTSansBold.eot') format('embedded-opentype'),
         url('../font/PTSans/Bold/PTSansBold.woff2') format('woff2'),
         url('../font/PTSans/Bold/PTSansBold.woff') format('woff'),
         url('../font/PTSans/Bold/PTSansBold.ttf') format('truetype'),
         url('../font/PTSans/Bold/PTSansBold.svg#PTSansBold') format('svg');
}


fieldset {
  border: none;
}



.nivoSlider{
  background:#000;
  
}
lenter{
	font-size:11px; 
	margin-left: auto;
    text-align: left;
	color:#898989;
	}
.rnd-link {
  width:85px;
  height:30px;
  background-clip: padding-box;
  border: 0;
  cursor: pointer;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  outline: 0em;
  border-radius: 3px;
  margin-bottom: 2px; }
  .rnd-link:active, .promo-add-photo-hidden:active + .promo-add-photo-button {
    margin-top: 2px;
    margin-bottom: 0;
    /* фикс нажатия на кнопки в Опере и ИЕ */
    /*&:after {
		display: block;
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		right: 0;
		z-index: 2;

	}*/ }
  .rnd-link.disabled {
    opacity: 0.3;
    box-shadow: none;
    top: 0;
    cursor: default; }
    .rnd-link.disabled .rnd-link-i {
      cursor: default; }

.underline {
  text-decoration: underline; }

.rnd-link-i {
  background: none;
  border: 0;
  color: #333;
  cursor: pointer;
  display: inline-block;
  position: relative;
  z-index: 1;
  font-size:19px;
  outline: none;
  text-align: center;
  text-decoration: none;
  white-space: nowrap; }
  .rnd-link-i:link, .rnd-link-i:visited {
    color: #333; }
  .rnd-link-i:hover {
    text-decoration: none; }

.to-left {
  -moz-transform: skew(-12degdeg, 0degdeg);
  -o-transform: skew(-12degdeg, 0degdeg);
  -ms-transform: skew(-12degdeg, 0degdeg);
  -webkit-transform: skew(-12degdeg, 0degdeg);
  transform: skew(-12degdeg, 0degdeg); }

.to-right {
  -moz-transform: skew(12degdeg, 0degdeg);
  -o-transform: skew(12degdeg, 0degdeg);
  -ms-transform: skew(12degdeg, 0degdeg);
  -webkit-transform: skew(12degdeg, 0degdeg);
  transform: skew(12degdeg, 0degdeg);
  /* BTN-LINK-GREEN */ }

.rnd-link-green {
  background: #4bbe3f;
  background: -webkit-linear-gradient(top, #79d670, #4bbe3f);
  background: -ms-linear-gradient(top, #79d670, #4bbe3f);
  background: -moz-linear-gradient(top, #79d670, #4bbe3f);
  background: linear-gradient('to bottom', #79d670, #4bbe3f);
  box-shadow: 3px 3px 7px 0 rgba(105, 206, 95, .5), inset 0 -3px 0 0 #3a9731;
  /* BTN-LINK-GRAY */ }
  .rnd-link-green .rnd-link-i {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .3); }
    .rnd-link-green .rnd-link-i:link, .rnd-link-green .rnd-link-i:visited {
      color: #fff; }
  .rnd-link-green:hover {
    background: #1fc80d;
    background: -webkit-linear-gradient(top, #69f95b, #1fc80d);
    background: -ms-linear-gradient(top, #69f95b, #1fc80d);
    background: -moz-linear-gradient(top, #69f95b, #1fc80d);
    background: linear-gradient('to bottom', #69f95b, #1fc80d); }
  .rnd-link-green:active {
    background: #29b11b;
    background: -webkit-linear-gradient(top, #62cf57, #29b11b);
    background: -ms-linear-gradient(top, #62cf57, #29b11b);
    background: -moz-linear-gradient(top, #62cf57, #29b11b);
    background: linear-gradient('to bottom', #62cf57, #29b11b);
    box-shadow: 3px 3px 7px 0 rgba(105, 206, 95, .5), inset 0 -1px 0 0 #3a9731;
    color: #a2e09d; }
    .rnd-link-green:active.disabled {
      box-shadow: none;
      background: -webkit-linear-gradient(top, #79d670, #4bbe3f);
      background: -ms-linear-gradient(top, #79d670, #4bbe3f);
      background: -moz-linear-gradient(top, #79d670, #4bbe3f);
      background: linear-gradient('to bottom', #79d670, #4bbe3f); }
  .rnd-link-green.disabled {
    background: -webkit-linear-gradient(top, #79d670, #4bbe3f);
    background: -ms-linear-gradient(top, #79d670, #4bbe3f);
    background: -moz-linear-gradient(top, #79d670, #4bbe3f);
    background: linear-gradient('to bottom', #79d670, #4bbe3f); }

.rnd-link-gray {
  background: #f1f1f1;
  background: -webkit-linear-gradient(top, #fff, #f1f1f1);
  background: -ms-linear-gradient(top, #fff, #f1f1f1);
  background: -moz-linear-gradient(top, #fff, #f1f1f1);
  background: linear-gradient('to bottom', #fff, #f1f1f1);
  border: 1px solid #ececec;
  border-bottom: 0;
  box-shadow: 3px 3px 7px 0 rgba(200, 200, 200, .5), inset 0 -3px 0 0 #c1c1c1;
  /* BTN-LINK-BLUE */ }
  .rnd-link-gray .rnd-link-i {
    color: #3e77aa; }
    .rnd-link-gray .rnd-link-i:link, .rnd-link-gray .rnd-link-i:visited {
      color: #3e77aa; }
  .rnd-link-gray:hover, .promo-add-photo-hidden:hover + .promo-add-photo-button {
    background: #faf8e1;
    background: -webkit-linear-gradient(top, #fff, #faf8e1);
    background: -ms-linear-gradient(top, #fff, #faf8e1);
    background: -moz-linear-gradient(top, #fff, #faf8e1);
    background: linear-gradient('to bottom', #fff, #faf8e1); }
    .rnd-link-gray:hover .rnd-link-i, .promo-add-photo-hidden:hover + .promo-add-photo-button .rnd-link-i {
      color: #fb3f4c; }
      .rnd-link-gray:hover .rnd-link-i:link, .promo-add-photo-hidden:hover + .promo-add-photo-button .rnd-link-i:link, .rnd-link-gray:hover .rnd-link-i:visited, .promo-add-photo-hidden:hover + .promo-add-photo-button .rnd-link-i:visited {
        color: #fb3f4c; }
  .rnd-link-gray:active, .promo-add-photo-hidden:active + .promo-add-photo-button {
    background: #e6e6e6;
    background: -webkit-linear-gradient(top, #fbfbfb, #e6e6e6);
    background: -ms-linear-gradient(top, #fbfbfb, #e6e6e6);
    background: -moz-linear-gradient(top, #fbfbfb, #e6e6e6);
    background: linear-gradient('to bottom', #fbfbfb, #e6e6e6);
    box-shadow: 3px 3px 7px 0 rgba(200, 200, 200, .5), inset 0 -1px 0 0 #c1c1c1; }
    .rnd-link-gray:active .rnd-link-i, .promo-add-photo-hidden:active + .promo-add-photo-button .rnd-link-i {
      color: #9cf; }
      .rnd-link-gray:active .rnd-link-i:link, .promo-add-photo-hidden:active + .promo-add-photo-button .rnd-link-i:link, .rnd-link-gray:active .rnd-link-i:visited, .promo-add-photo-hidden:active + .promo-add-photo-button .rnd-link-i:visited {
        color: #9cf; }
    .rnd-link-gray:active.disabled, .promo-add-photo-hidden:active + .promo-add-photo-button.disabled {
      box-shadow: none;
      background: -webkit-linear-gradient(top, #fff, #f1f1f1);
      background: -ms-linear-gradient(top, #fff, #f1f1f1);
      background: -moz-linear-gradient(top, #fff, #f1f1f1);
      background: linear-gradient('to bottom', #fff, #f1f1f1); }
  .rnd-link-gray.disabled {
    background: -webkit-linear-gradient(top, #fff, #f1f1f1);
    background: -ms-linear-gradient(top, #fff, #f1f1f1);
    background: -moz-linear-gradient(top, #fff, #f1f1f1);
    background: linear-gradient('to bottom', #fff, #f1f1f1); }

.rnd-link-blue {
  background: #3f78ab;
  background: -webkit-linear-gradient(top, #578ebf, #3f78ab);
  background: -ms-linear-gradient(top, #578ebf, #3f78ab);
  background: -moz-linear-gradient(top, #578ebf, #3f78ab);
  background: linear-gradient('to bottom', #578ebf, #3f78ab);
  box-shadow: 3px 3px 7px 0 rgba(64, 121, 171, .5), inset 0 -3px 0 0 #326089;
  /* BTN-LINK-ORANGE */ }
  .rnd-link-blue .rnd-link-i {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .3); }
    .rnd-link-blue .rnd-link-i:link, .rnd-link-blue .rnd-link-i:visited {
      color: #fff; }
  .rnd-link-blue:hover {
    background: #2083dc;
    background: -webkit-linear-gradient(top, #4faafa, #2083dc);
    background: -ms-linear-gradient(top, #4faafa, #2083dc);
    background: -moz-linear-gradient(top, #4faafa, #2083dc);
    background: linear-gradient('to bottom', #4faafa, #2083dc);
    box-shadow: 3px 3px 7px 0 rgba(64, 121, 171, .5), inset 0 -3px 0 0 #1a6ab0; }
    .rnd-link-blue:hover .rnd-link-i:link, .rnd-link-blue:hover .rnd-link-i:visited {
      color: #fff; }
    .rnd-link-blue:hover.disabled {
      box-shadow: none;
      background: -webkit-linear-gradient(top, #578ebf, #3f78ab);
      background: -ms-linear-gradient(top, #578ebf, #3f78ab);
      background: -moz-linear-gradient(top, #578ebf, #3f78ab);
      background: linear-gradient('to bottom', #578ebf, #3f78ab); }
  .rnd-link-blue:active {
    background: #3e77aa;
    background: -webkit-linear-gradient(top, #588ebf, #3e77aa);
    background: -ms-linear-gradient(top, #588ebf, #3e77aa);
    background: -moz-linear-gradient(top, #588ebf, #3e77aa);
    background: linear-gradient('to bottom', #588ebf, #3e77aa);
    box-shadow: 3px 3px 7px 0 rgba(64, 121, 171, .5), inset 0 -1px 0 0 #326089;
    color: #a6c2db; }
    .rnd-link-blue:active .rnd-link-i:link, .rnd-link-blue:active .rnd-link-i:visited {
      color: #3e77aa; }
  .rnd-link-blue.disabled {
    background: -webkit-linear-gradient(top, #578ebf, #3f78ab);
    background: -ms-linear-gradient(top, #578ebf, #3f78ab);
    background: -moz-linear-gradient(top, #578ebf, #3f78ab);
    background: linear-gradient('to bottom', #578ebf, #3f78ab); }

.rnd-link-orange, .rnd-link-lightorange {
  background: #f07f00;
  background: -webkit-linear-gradient(top, #ffaa16, #f07f00);
  background: -ms-linear-gradient(top, #ffaa16, #f07f00);
  background: -moz-linear-gradient(top, #ffaa16, #f07f00);
  background: linear-gradient('to bottom', #ffaa16, #f07f00);
  box-shadow: 3px 3px 7px 0 rgba(240, 127, 0, .5), inset 0 -3px 0 0 #c06600;
  /* BTN-LINK-WHITE */ }
  .rnd-link-orange .rnd-link-i, .rnd-link-lightorange .rnd-link-i {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .3); }
    .rnd-link-orange .rnd-link-i:link, .rnd-link-lightorange .rnd-link-i:link, .rnd-link-orange .rnd-link-i:visited, .rnd-link-lightorange .rnd-link-i:visited {
      color: #fff; }
  .rnd-link-orange:hover, .rnd-link-lightorange:hover {
    background: #ff8a00;
    background: -webkit-linear-gradient(top, #ffc600, #ff8a00);
    background: -ms-linear-gradient(top, #ffc600, #ff8a00);
    background: -moz-linear-gradient(top, #ffc600, #ff8a00);
    background: linear-gradient('to bottom', #ffc600, #ff8a00);
    box-shadow: 3px 3px 7px 0 rgba(255, 138, 0, .5), inset 0 -3px 0 0 #cc6f00; }
    .rnd-link-orange:hover .rnd-link-i:link, .rnd-link-lightorange:hover .rnd-link-i:link, .rnd-link-orange:hover .rnd-link-i:visited, .rnd-link-lightorange:hover .rnd-link-i:visited {
      color: #fff; }
  .rnd-link-orange:active, .rnd-link-lightorange:active {
    background: #f18101;
    background: -webkit-linear-gradient(top, #fca715, #f18101);
    background: -ms-linear-gradient(top, #fca715, #f18101);
    background: -moz-linear-gradient(top, #fca715, #f18101);
    background: linear-gradient('to bottom', #fca715, #f18101);
    box-shadow: 3px 3px 7px 0 rgba(241, 129, 1, .5), inset 0 -1px 0 0 #a74b00;
    color: #fac7a3; }
    .rnd-link-orange:active .rnd-link-i, .rnd-link-lightorange:active .rnd-link-i {
      color: #fac7a3; }
      .rnd-link-orange:active .rnd-link-i:link, .rnd-link-lightorange:active .rnd-link-i:link, .rnd-link-orange:active .rnd-link-i:visited, .rnd-link-lightorange:active .rnd-link-i:visited {
        color: #fac7a3; }
  .rnd-link-orange.disabled, .rnd-link-lightorange.disabled {
    background: #ec942e;
    background: -webkit-linear-gradient(top, #ffbc50, #ec942e);
    background: -ms-linear-gradient(top, #ffbc50, #ec942e);
    background: -moz-linear-gradient(top, #ffbc50, #ec942e);
    background: linear-gradient('to bottom', #ffbc50, #ec942e);
    box-shadow: none; }
    .rnd-link-orange.disabled .rnd-link-i, .rnd-link-lightorange.disabled .rnd-link-i {
      color: #fbd7b1; }
      .rnd-link-orange.disabled .rnd-link-i:link, .rnd-link-lightorange.disabled .rnd-link-i:link, .rnd-link-orange.disabled .rnd-link-i:visited, .rnd-link-lightorange.disabled .rnd-link-i:visited {
        color: #fbd7b1; }

.rnd-link-white {
  background: #fff;
  border: 1px solid #e9e9e4;
  background: -webkit-linear-gradient(top, #fff, #f2f2f2);
  background: -ms-linear-gradient(top, #fff, #f2f2f2);
  background: -moz-linear-gradient(top, #fff, #f2f2f2);
  background: linear-gradient('to bottom', #fff, #f2f2f2);
  box-shadow: 3px 3px 7px 0 rgba(200, 200, 200, .5), inset 0 -3px 0 0 #c1c1c1; }
  .rnd-link-white .rnd-link-i:link, .rnd-link-white .rnd-link-i:visited {
    color: #333; }
  .rnd-link-white:hover {
    background: #faf8e1;
    background: -webkit-linear-gradient(top, #fff, #faf8e1);
    background: -ms-linear-gradient(top, #fff, #faf8e1);
    background: -moz-linear-gradient(top, #fff, #faf8e1);
    background: linear-gradient('to bottom', #fff, #faf8e1); }
  .rnd-link-white:active {
    background: #e6e6e6;
    background: -webkit-linear-gradient(top, #fbfbfb, #e6e6e6);
    background: -ms-linear-gradient(top, #fbfbfb, #e6e6e6);
    background: -moz-linear-gradient(top, #fbfbfb, #e6e6e6);
    background: linear-gradient('to bottom', #fbfbfb, #e6e6e6);
    box-shadow: 3px 3px 7px 0 rgba(200, 200, 200, .5), inset 0 -1px 0 0 #c1c1c1; }
    .rnd-link-white:active.disabled {
      box-shadow: none;
      background: -webkit-linear-gradient(top, #fff, #f2f2f2);
      background: -ms-linear-gradient(top, #fff, #f2f2f2);
      background: -moz-linear-gradient(top, #fff, #f2f2f2);
      background: linear-gradient('to bottom', #fff, #f2f2f2); }
  .rnd-link-white.disabled {
    background: -webkit-linear-gradient(top, #fff, #f2f2f2);
    background: -ms-linear-gradient(top, #fff, #f2f2f2);
    background: -moz-linear-gradient(top, #fff, #f2f2f2);
    background: linear-gradient('to bottom', #fff, #f2f2f2); }

.arrow-link:hover {
  text-decoration: none; }
  .arrow-link:hover .arrow-link-inner {
    text-decoration: underline; }
  .arrow-link:active .arrow-link-inner {
    text-decoration: none; }

.select-arrow-bottom {
  display: inline-block; }
  .select-arrow-bottom:before {
    background-position: 0 -9164px;
    width: 14px;
    height: 10px; }
  .select-arrow-bottom:hover:before {
    background-position: 0 -9152px;
    width: 14px;
    height: 10px; }
  .select-arrow-bottom:active:before {
    background-position: 0 -9141px;
    width: 14px;
    height: 9px; }

.select-arrow-small-bottom {
  display: inline-block; }
  .select-arrow-small-bottom:before {
    background-position: 0 -9250px;
    width: 10px;
    height: 5px; }
  .select-arrow-small-bottom:hover:before {
    background-position: 0 -9243px;
    width: 10px;
    height: 5px; }
  .select-arrow-small-bottom:active:before {
    background-position: 0 -9236px;
    width: 10px;
    height: 5px; }

.popup-cart-close-icon {
  background-position: 0 -7297px;
  width: 37px;
  height: 37px; }
  .popup-cart-close-icon:hover {
    background-position: 0 -7075px;
    width: 37px;
    height: 37px; }
  .popup-cart-close-icon:active {
    background-position: 0 -7036px;
    width: 37px;
    height: 37px; }

.cart-check-icon {
  background-position: 0 -2484px;
  width: 23px;
  height: 23px; }
  .cart-check-icon:hover {
    background-position: 0 -2459px;
    width: 23px;
    height: 23px; }
  .cart-check-icon:active {
    background-position: 0 -2434px;
    width: 23px;
    height: 23px; }

.cart-amount-minus-icon {
  cursor: default;
  background-position: 0 -6276px;
  width: 16px;
  height: 2px; }

.cart-amount-minus {
  cursor: default; }
  .cart-amount-minus.active {
    cursor: pointer; }
  .cart-amount-minus.active .cart-amount-minus-icon {
    cursor: pointer;
    background-position: 0 -6284px;
    width: 16px;
    height: 2px; }
  .cart-amount-minus.active:hover .cart-amount-minus-icon {
    background-position: 0 -6280px;
    width: 16px;
    height: 2px; }
  .cart-amount-minus.active:active .cart-amount-minus-icon {
    background-position: 0 -6272px;
    width: 16px;
    height: 2px; }

.btn-link {
  width:125px;
  height:50px;
  background-clip: padding-box;
  border: 0;
  cursor: pointer;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  outline: 0em;
  border-radius: 3px;
  margin-bottom: 2px; }
  .btn-link:active, .promo-add-photo-hidden:active + .promo-add-photo-button {
    margin-top: 2px;
    margin-bottom: 0;
    /* фикс нажатия на кнопки в Опере и ИЕ */
    /*&:after {
		display: block;
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		right: 0;
		z-index: 2;

	}*/ }
  .btn-link.disabled {
    opacity: 0.3;
    box-shadow: none;
    top: 0;
    cursor: default; }
    .btn-link.disabled .btn-link-i {
      cursor: default; }

.underline {
  text-decoration: underline; }

.btn-link-i {
  background: none;
  border: 0;
  color: #333;
  cursor: pointer;
  display: inline-block;
  position: relative;
  z-index: 1;
  font-size:35px;
  outline: none;
  text-align: center;
  text-decoration: none;
  white-space: nowrap; }
  .btn-link-i:link, .btn-link-i:visited {
    color: #333; }
  .btn-link-i:hover {
    text-decoration: none; }

.to-left {
  -moz-transform: skew(-12degdeg, 0degdeg);
  -o-transform: skew(-12degdeg, 0degdeg);
  -ms-transform: skew(-12degdeg, 0degdeg);
  -webkit-transform: skew(-12degdeg, 0degdeg);
  transform: skew(-12degdeg, 0degdeg); }

.to-right {
  -moz-transform: skew(12degdeg, 0degdeg);
  -o-transform: skew(12degdeg, 0degdeg);
  -ms-transform: skew(12degdeg, 0degdeg);
  -webkit-transform: skew(12degdeg, 0degdeg);
  transform: skew(12degdeg, 0degdeg);
  /* BTN-LINK-GREEN */ }

.btn-link-green {
  background: #4bbe3f;
  background: -webkit-linear-gradient(top, #79d670, #4bbe3f);
  background: -ms-linear-gradient(top, #79d670, #4bbe3f);
  background: -moz-linear-gradient(top, #79d670, #4bbe3f);
  background: linear-gradient('to bottom', #79d670, #4bbe3f);
  box-shadow: 3px 3px 7px 0 rgba(105, 206, 95, .5), inset 0 -3px 0 0 #3a9731;
  /* BTN-LINK-GRAY */ }
  .btn-link-green .btn-link-i {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .3); }
    .btn-link-green .btn-link-i:link, .btn-link-green .btn-link-i:visited {
      color: #fff; }
  .btn-link-green:hover {
    background: #1fc80d;
    background: -webkit-linear-gradient(top, #69f95b, #1fc80d);
    background: -ms-linear-gradient(top, #69f95b, #1fc80d);
    background: -moz-linear-gradient(top, #69f95b, #1fc80d);
    background: linear-gradient('to bottom', #69f95b, #1fc80d); }
  .btn-link-green:active {
    background: #29b11b;
    background: -webkit-linear-gradient(top, #62cf57, #29b11b);
    background: -ms-linear-gradient(top, #62cf57, #29b11b);
    background: -moz-linear-gradient(top, #62cf57, #29b11b);
    background: linear-gradient('to bottom', #62cf57, #29b11b);
    box-shadow: 3px 3px 7px 0 rgba(105, 206, 95, .5), inset 0 -1px 0 0 #3a9731;
    color: #a2e09d; }
    .btn-link-green:active.disabled {
      box-shadow: none;
      background: -webkit-linear-gradient(top, #79d670, #4bbe3f);
      background: -ms-linear-gradient(top, #79d670, #4bbe3f);
      background: -moz-linear-gradient(top, #79d670, #4bbe3f);
      background: linear-gradient('to bottom', #79d670, #4bbe3f); }
  .btn-link-green.disabled {
    background: -webkit-linear-gradient(top, #79d670, #4bbe3f);
    background: -ms-linear-gradient(top, #79d670, #4bbe3f);
    background: -moz-linear-gradient(top, #79d670, #4bbe3f);
    background: linear-gradient('to bottom', #79d670, #4bbe3f); }

.btn-link-gray {
  background: #f1f1f1;
  background: -webkit-linear-gradient(top, #fff, #f1f1f1);
  background: -ms-linear-gradient(top, #fff, #f1f1f1);
  background: -moz-linear-gradient(top, #fff, #f1f1f1);
  background: linear-gradient('to bottom', #fff, #f1f1f1);
  border: 1px solid #ececec;
  border-bottom: 0;
  box-shadow: 3px 3px 7px 0 rgba(200, 200, 200, .5), inset 0 -3px 0 0 #c1c1c1;
  /* BTN-LINK-BLUE */ }
  .btn-link-gray .btn-link-i {
    color: #3e77aa; }
    .btn-link-gray .btn-link-i:link, .btn-link-gray .btn-link-i:visited {
      color: #3e77aa; }
  .btn-link-gray:hover, .promo-add-photo-hidden:hover + .promo-add-photo-button {
    background: #faf8e1;
    background: -webkit-linear-gradient(top, #fff, #faf8e1);
    background: -ms-linear-gradient(top, #fff, #faf8e1);
    background: -moz-linear-gradient(top, #fff, #faf8e1);
    background: linear-gradient('to bottom', #fff, #faf8e1); }
    .btn-link-gray:hover .btn-link-i, .promo-add-photo-hidden:hover + .promo-add-photo-button .btn-link-i {
      color: #fb3f4c; }
      .btn-link-gray:hover .btn-link-i:link, .promo-add-photo-hidden:hover + .promo-add-photo-button .btn-link-i:link, .btn-link-gray:hover .btn-link-i:visited, .promo-add-photo-hidden:hover + .promo-add-photo-button .btn-link-i:visited {
        color: #fb3f4c; }
  .btn-link-gray:active, .promo-add-photo-hidden:active + .promo-add-photo-button {
    background: #e6e6e6;
    background: -webkit-linear-gradient(top, #fbfbfb, #e6e6e6);
    background: -ms-linear-gradient(top, #fbfbfb, #e6e6e6);
    background: -moz-linear-gradient(top, #fbfbfb, #e6e6e6);
    background: linear-gradient('to bottom', #fbfbfb, #e6e6e6);
    box-shadow: 3px 3px 7px 0 rgba(200, 200, 200, .5), inset 0 -1px 0 0 #c1c1c1; }
    .btn-link-gray:active .btn-link-i, .promo-add-photo-hidden:active + .promo-add-photo-button .btn-link-i {
      color: #9cf; }
      .btn-link-gray:active .btn-link-i:link, .promo-add-photo-hidden:active + .promo-add-photo-button .btn-link-i:link, .btn-link-gray:active .btn-link-i:visited, .promo-add-photo-hidden:active + .promo-add-photo-button .btn-link-i:visited {
        color: #9cf; }
    .btn-link-gray:active.disabled, .promo-add-photo-hidden:active + .promo-add-photo-button.disabled {
      box-shadow: none;
      background: -webkit-linear-gradient(top, #fff, #f1f1f1);
      background: -ms-linear-gradient(top, #fff, #f1f1f1);
      background: -moz-linear-gradient(top, #fff, #f1f1f1);
      background: linear-gradient('to bottom', #fff, #f1f1f1); }
  .btn-link-gray.disabled {
    background: -webkit-linear-gradient(top, #fff, #f1f1f1);
    background: -ms-linear-gradient(top, #fff, #f1f1f1);
    background: -moz-linear-gradient(top, #fff, #f1f1f1);
    background: linear-gradient('to bottom', #fff, #f1f1f1); }

.btn-link-blue {
  background: #3f78ab;
  background: -webkit-linear-gradient(top, #578ebf, #3f78ab);
  background: -ms-linear-gradient(top, #578ebf, #3f78ab);
  background: -moz-linear-gradient(top, #578ebf, #3f78ab);
  background: linear-gradient('to bottom', #578ebf, #3f78ab);
  box-shadow: 3px 3px 7px 0 rgba(64, 121, 171, .5), inset 0 -3px 0 0 #326089;
  /* BTN-LINK-ORANGE */ }
  .btn-link-blue .btn-link-i {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .3); }
    .btn-link-blue .btn-link-i:link, .btn-link-blue .btn-link-i:visited {
      color: #fff; }
  .btn-link-blue:hover {
    background: #2083dc;
    background: -webkit-linear-gradient(top, #4faafa, #2083dc);
    background: -ms-linear-gradient(top, #4faafa, #2083dc);
    background: -moz-linear-gradient(top, #4faafa, #2083dc);
    background: linear-gradient('to bottom', #4faafa, #2083dc);
    box-shadow: 3px 3px 7px 0 rgba(64, 121, 171, .5), inset 0 -3px 0 0 #1a6ab0; }
    .btn-link-blue:hover .btn-link-i:link, .btn-link-blue:hover .btn-link-i:visited {
      color: #fff; }
    .btn-link-blue:hover.disabled {
      box-shadow: none;
      background: -webkit-linear-gradient(top, #578ebf, #3f78ab);
      background: -ms-linear-gradient(top, #578ebf, #3f78ab);
      background: -moz-linear-gradient(top, #578ebf, #3f78ab);
      background: linear-gradient('to bottom', #578ebf, #3f78ab); }
  .btn-link-blue:active {
    background: #3e77aa;
    background: -webkit-linear-gradient(top, #588ebf, #3e77aa);
    background: -ms-linear-gradient(top, #588ebf, #3e77aa);
    background: -moz-linear-gradient(top, #588ebf, #3e77aa);
    background: linear-gradient('to bottom', #588ebf, #3e77aa);
    box-shadow: 3px 3px 7px 0 rgba(64, 121, 171, .5), inset 0 -1px 0 0 #326089;
    color: #a6c2db; }
    .btn-link-blue:active .btn-link-i:link, .btn-link-blue:active .btn-link-i:visited {
      color: #3e77aa; }
  .btn-link-blue.disabled {
    background: -webkit-linear-gradient(top, #578ebf, #3f78ab);
    background: -ms-linear-gradient(top, #578ebf, #3f78ab);
    background: -moz-linear-gradient(top, #578ebf, #3f78ab);
    background: linear-gradient('to bottom', #578ebf, #3f78ab); }

.btn-link-orange, .btn-link-lightorange {
  background: #f07f00;
  background: -webkit-linear-gradient(top, #ffaa16, #f07f00);
  background: -ms-linear-gradient(top, #ffaa16, #f07f00);
  background: -moz-linear-gradient(top, #ffaa16, #f07f00);
  background: linear-gradient('to bottom', #ffaa16, #f07f00);
  box-shadow: 3px 3px 7px 0 rgba(240, 127, 0, .5), inset 0 -3px 0 0 #c06600;
  /* BTN-LINK-WHITE */ }
  .btn-link-orange .btn-link-i, .btn-link-lightorange .btn-link-i {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .3); }
    .btn-link-orange .btn-link-i:link, .btn-link-lightorange .btn-link-i:link, .btn-link-orange .btn-link-i:visited, .btn-link-lightorange .btn-link-i:visited {
      color: #fff; }
  .btn-link-orange:hover, .btn-link-lightorange:hover {
    background: #ff8a00;
    background: -webkit-linear-gradient(top, #ffc600, #ff8a00);
    background: -ms-linear-gradient(top, #ffc600, #ff8a00);
    background: -moz-linear-gradient(top, #ffc600, #ff8a00);
    background: linear-gradient('to bottom', #ffc600, #ff8a00);
    box-shadow: 3px 3px 7px 0 rgba(255, 138, 0, .5), inset 0 -3px 0 0 #cc6f00; }
    .btn-link-orange:hover .btn-link-i:link, .btn-link-lightorange:hover .btn-link-i:link, .btn-link-orange:hover .btn-link-i:visited, .btn-link-lightorange:hover .btn-link-i:visited {
      color: #fff; }
  .btn-link-orange:active, .btn-link-lightorange:active {
    background: #f18101;
    background: -webkit-linear-gradient(top, #fca715, #f18101);
    background: -ms-linear-gradient(top, #fca715, #f18101);
    background: -moz-linear-gradient(top, #fca715, #f18101);
    background: linear-gradient('to bottom', #fca715, #f18101);
    box-shadow: 3px 3px 7px 0 rgba(241, 129, 1, .5), inset 0 -1px 0 0 #a74b00;
    color: #fac7a3; }
    .btn-link-orange:active .btn-link-i, .btn-link-lightorange:active .btn-link-i {
      color: #fac7a3; }
      .btn-link-orange:active .btn-link-i:link, .btn-link-lightorange:active .btn-link-i:link, .btn-link-orange:active .btn-link-i:visited, .btn-link-lightorange:active .btn-link-i:visited {
        color: #fac7a3; }
  .btn-link-orange.disabled, .btn-link-lightorange.disabled {
    background: #ec942e;
    background: -webkit-linear-gradient(top, #ffbc50, #ec942e);
    background: -ms-linear-gradient(top, #ffbc50, #ec942e);
    background: -moz-linear-gradient(top, #ffbc50, #ec942e);
    background: linear-gradient('to bottom', #ffbc50, #ec942e);
    box-shadow: none; }
    .btn-link-orange.disabled .btn-link-i, .btn-link-lightorange.disabled .btn-link-i {
      color: #fbd7b1; }
      .btn-link-orange.disabled .btn-link-i:link, .btn-link-lightorange.disabled .btn-link-i:link, .btn-link-orange.disabled .btn-link-i:visited, .btn-link-lightorange.disabled .btn-link-i:visited {
        color: #fbd7b1; }

.btn-link-white {
  background: #fff;
  border: 1px solid #e9e9e4;
  background: -webkit-linear-gradient(top, #fff, #f2f2f2);
  background: -ms-linear-gradient(top, #fff, #f2f2f2);
  background: -moz-linear-gradient(top, #fff, #f2f2f2);
  background: linear-gradient('to bottom', #fff, #f2f2f2);
  box-shadow: 3px 3px 7px 0 rgba(200, 200, 200, .5), inset 0 -3px 0 0 #c1c1c1; }
  .btn-link-white .btn-link-i:link, .btn-link-white .btn-link-i:visited {
    color: #333; }
  .btn-link-white:hover {
    background: #faf8e1;
    background: -webkit-linear-gradient(top, #fff, #faf8e1);
    background: -ms-linear-gradient(top, #fff, #faf8e1);
    background: -moz-linear-gradient(top, #fff, #faf8e1);
    background: linear-gradient('to bottom', #fff, #faf8e1); }
  .btn-link-white:active {
    background: #e6e6e6;
    background: -webkit-linear-gradient(top, #fbfbfb, #e6e6e6);
    background: -ms-linear-gradient(top, #fbfbfb, #e6e6e6);
    background: -moz-linear-gradient(top, #fbfbfb, #e6e6e6);
    background: linear-gradient('to bottom', #fbfbfb, #e6e6e6);
    box-shadow: 3px 3px 7px 0 rgba(200, 200, 200, .5), inset 0 -1px 0 0 #c1c1c1; }
    .btn-link-white:active.disabled {
      box-shadow: none;
      background: -webkit-linear-gradient(top, #fff, #f2f2f2);
      background: -ms-linear-gradient(top, #fff, #f2f2f2);
      background: -moz-linear-gradient(top, #fff, #f2f2f2);
      background: linear-gradient('to bottom', #fff, #f2f2f2); }
  .btn-link-white.disabled {
    background: -webkit-linear-gradient(top, #fff, #f2f2f2);
    background: -ms-linear-gradient(top, #fff, #f2f2f2);
    background: -moz-linear-gradient(top, #fff, #f2f2f2);
    background: linear-gradient('to bottom', #fff, #f2f2f2); }

.arrow-link:hover {
  text-decoration: none; }
  .arrow-link:hover .arrow-link-inner {
    text-decoration: underline; }
  .arrow-link:active .arrow-link-inner {
    text-decoration: none; }

.select-arrow-bottom {
  display: inline-block; }
  .select-arrow-bottom:before {
    background-position: 0 -9164px;
    width: 14px;
    height: 10px; }
  .select-arrow-bottom:hover:before {
    background-position: 0 -9152px;
    width: 14px;
    height: 10px; }
  .select-arrow-bottom:active:before {
    background-position: 0 -9141px;
    width: 14px;
    height: 9px; }

.select-arrow-small-bottom {
  display: inline-block; }
  .select-arrow-small-bottom:before {
    background-position: 0 -9250px;
    width: 10px;
    height: 5px; }
  .select-arrow-small-bottom:hover:before {
    background-position: 0 -9243px;
    width: 10px;
    height: 5px; }
  .select-arrow-small-bottom:active:before {
    background-position: 0 -9236px;
    width: 10px;
    height: 5px; }

.popup-cart-close-icon {
  background-position: 0 -7297px;
  width: 37px;
  height: 37px; }
  .popup-cart-close-icon:hover {
    background-position: 0 -7075px;
    width: 37px;
    height: 37px; }
  .popup-cart-close-icon:active {
    background-position: 0 -7036px;
    width: 37px;
    height: 37px; }

.cart-check-icon {
  background-position: 0 -2484px;
  width: 23px;
  height: 23px; }
  .cart-check-icon:hover {
    background-position: 0 -2459px;
    width: 23px;
    height: 23px; }
  .cart-check-icon:active {
    background-position: 0 -2434px;
    width: 23px;
    height: 23px; }

.cart-amount-minus-icon {
  cursor: default;
  background-position: 0 -6276px;
  width: 16px;
  height: 2px; }

.cart-amount-minus {
  cursor: default; }
  .cart-amount-minus.active {
    cursor: pointer; }
  .cart-amount-minus.active .cart-amount-minus-icon {
    cursor: pointer;
    background-position: 0 -6284px;
    width: 16px;
    height: 2px; }
  .cart-amount-minus.active:hover .cart-amount-minus-icon {
    background-position: 0 -6280px;
    width: 16px;
    height: 2px; }
  .cart-amount-minus.active:active .cart-amount-minus-icon {
    background-position: 0 -6272px;
    width: 16px;
    height: 2px; }

html {
	overflow-y: scroll;
	margin: 0;
	padding: 0;
}
body {
    font-family: 'PT Sans Caption', sans-serif;
	/*background-color: #ececec;*/
  /*background-image: url('../image/back.png');*/
	color: #34495E;
	margin: 0px;
	padding: 0px;
}
body, td, th, input, textarea, select, a {
	font-size: 14px;
}
h1, .welcome {
  font-family: 'PT Sans Caption', sans-serif;
  /*font-family: PTSansBold;*/
	margin-top: 0px;
	margin-bottom: 20px;
	color:#34495E;
	font-size: 30px;
	font-weight: normal;
	text-shadow: 0 0 1px rgba(0, 0, 0, .01);
}
h2 {
	color: #000000;
	font-size: 16px;
	margin-top: 0px;
	margin-bottom: 5px;
  font-weight: normal;
  font-family: 'PTSansBold';    
}
h3{
  font-family: 'PT Sans Caption', sans-serif;   
  font-family: 'PTSansBold';
}
p {
	margin-top: 0px;
	margin-bottom: 20px;
}
a, a:visited, a b {
	color: #006599;
	text-decoration: none;
	cursor: pointer;
}
a:hover {
	text-decoration: underline;
}
a img {
	border: none;
}
form {
	padding: 0;
	margin: 0;
	display: inline;
}
input[type='text'], input[type='password'], textarea {
	background: #F8F8F8;
	border: 1px solid #CCCCCC;
	padding: 3px;
	margin-left: 0px;
	margin-right: 0px;
}
select {
	background: #F8F8F8;
	border: 1px solid #CCCCCC;
	padding: 2px;
}
label {
	cursor: pointer;
}
/* layout */
#container {
	width: 1100px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
  position: relative;
}

#container-inside {
  position: relative;
  /*padding-top: 20%;*/
  height: 100%;
  width: 1100px;
  margin: 0 auto;
}

#column-left {
	float: left;
	width: 180px;
}
#column-right {
	float: right;
	width: 180px;
}
#content {
	min-height: 400px;
	margin-bottom: 25px;
}
#column-left + #column-right + #content, #column-left + #content {
	margin-left: 195px;
}
#column-right + #content {
	margin-right: 195px;
}
/* header */
#header {
	height: 150px;
	/*margin-bottom: 7px;*/
	padding-bottom: 4px;
	position: relative;
	z-index: 99;
  background-image: url('../image/back.png');
}

.header-welcome {
  position: absolute;
  top: 41px;
  right: 240px;
  z-index: 200;
  color: #5B73C3;    
}

.header-welcome-animate {
  animation: welcome 2s;
  animation-fill-mode:forwards;
  
  transform: translateX(1000px);
  animation-duration: 1s;
  animation-delay: 1.7s;
}


@keyframes welcome {
    0% {      
      transform: translateX(1000px);
    }
    100% { 
      transform: translateX(0);
    }
}

.header-welcome a {
  color: #5B73C3;
  text-decoration: none;
  font-family: MyriadProReg;
  font-size: 16px;
}

.header-welcome a:hover {
  text-decoration: underline;
}


.header-tel-img {
  position: absolute;
  top: 16%;
  /*-webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);*/
  left: 190px;
}

.icq {
  position: absolute;
  top: 67%;
  left: 195px;
}

.header-tel-block {
 position: absolute;
  top: 11%;
  /*-webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);*/
  left: 250px;
  font-size: 20px;
  font-family: 'MyriadProReg';
  
}

.header-tel-block-animate {
  animation: tel 2s;
  animation-fill-mode:forwards;
  
  transform: translateX(-1000px);
  animation-duration: 1s;
}


@keyframes tel {
    0% {      
      transform: translateX(-1000px);
    }
    100% { 
      transform: translateX(0);
    }
}
.header-icq-block {
  position: absolute;
  top: 70%;
  left: 250px;
  font-size: 20px;
  font-family: 'MyriadProBold';
  
}

.header-icq-block-animate {
  animation: tel 2s;
  animation-fill-mode:forwards;
  animation-delay: 0.5s;
  transform: translateX(-1000px);
  animation-duration: 1s;
}

.header-tel-block span {
  font-family: 'MyriadProBold';
}

.header-car {
  position: absolute;
  top: 3px;
  left: 390px;
  width: 430px;
}
#header #logo {
	position: absolute;
	top: 50%;
  opacity: 0;
  transform: translateY(-50%);
}

.logo-animate { 
  /*-webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);*/
  /*transform: translateY(-1000px);*/
  animation: wheel 2s;
  animation-delay: 0.6s;
  animation-fill-mode:forwards;
}

@keyframes wheel {
    0% { 
      transform: translateY(-72px) translateX(-1000px) rotate(0deg);
      opacity: 1;
    }
    100% {
      transform: translateY(-72px) translateX(0) rotate(360deg); 
      opacity: 1;
    }
}

#language {
	position: absolute;
	top: 15px;
	left: 320px;
	width: 80px;
	color: #999;
	line-height: 17px;
}
#language img {
	cursor: pointer;
	margin-right: 5px;
}
#currency {
	width: 75px;
	position: absolute;
	top: 15px;
	left: 425px;
	color: #999;
	line-height: 17px;
}
#currency a {
	display: inline-block;
	padding: 2px 4px;
	border: 1px solid #CCC;
	color: #999;
	text-decoration: none;
	margin-right: 2px;
	margin-bottom: 2px;
}
#currency a b {
	color: #000;
	text-decoration: none;
}
#header #cart {
	position: absolute;
	top: 9px;
	right: 0px;
	z-index: 9;
	min-width: 300px; 
  color: #FFF;
}

.header-cart-img {
  position: absolute;
  top: 50%;
  left: 10px;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
  /*float: left;  */
}

#header #cart .heading {
 /* -webkit-transform: translateX(250%);
     -moz-transform: translateX(250%);
      -ms-transform: translateX(250%);
       -o-transform: translateX(250%);
          transform: translateX(250%);*/
	float: right;
	margin-top: 15px;
	padding-left: 14px;
	padding-right: 14px;
	position: relative;
	z-index: 1;
  background-color: #2879b0;
  padding: 5px;
  width: 215px;
  text-align: right;
  height: 45px;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  transition: all 2s;
}

.heading-animate {
  animation: cart 1.5s;
  animation-fill-mode:forwards;  
  transform: translateX(1000px);
  animation-delay: 2s;
}


@keyframes cart {
    0% {      
      transform: translateX(1000px) ;
      /*transform: rotate(0deg);  */
    }
    100% { 
      transform: translateX(0); 
       
      /*transform: rotate(360deg);    */
    }
}



#header #cart .heading h4 {
	color: #fff;
	font-size: 15px;
	font-weight: bold;
	margin-top: 0px;
	margin-bottom: 3px;
  text-align: center;
}
#header #cart .heading a {
	text-decoration: none;
  color: #FFF;
   position: absolute;
  top: 50%;
  right: 10px;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 13px;
}
#header #cart .heading a span {
	/*background: #FFFFFF url('../image/arrow-down.png') 100% 50% no-repeat;*/
	padding-right: 5px;
}
#header #cart .content {
	clear: both;
	display: none;
	position: relative;
	top: -1px;
	padding: 8px;
	min-height: 150px;
	border-top: 1px solid #EEEEEE;
	border-left: 1px solid #EEEEEE;
	border-right: 1px solid #EEEEEE;
	border-bottom: 1px solid #EEEEEE;
	-webkit-border-radius: 0px 7px 7px 7px;
	-moz-border-radius: 0px 7px 7px 7px;
	-khtml-border-radius: 0px 7px 7px 7px;
	border-radius: 0px 7px 7px 7px;
	-webkit-box-shadow: 0px 2px 2px #DDDDDD;
	-moz-box-shadow: 0px 2px 2px #DDDDDD;
	box-shadow: 0px 2px 2px #DDDDDD;
	background: #FFF;
}
#header #cart.active .heading {
	margin-top: 5px;
	padding-top: 10px;
	padding-bottom: 6px;
	border-top: 1px solid #EEEEEE;
	border-left: 1px solid #EEEEEE;
	border-right: 1px solid #EEEEEE;
	-webkit-border-radius: 7px 7px 0px 0px;
	-moz-border-radius: 7px 7px 0px 0px;
	-khtml-border-radius: 7px 7px 0px 0px;
	border-radius: 7px 7px 0px 0px;
}
#header #cart.active .content {
	display: block;
}
.mini-cart-info table {
	border-collapse: collapse;
	width: 100%;
	margin-bottom: 5px;
}
.mini-cart-info td {
	color: #000;
	vertical-align: top;
	padding: 10px 5px;
	border-bottom: 1px solid #EEEEEE;
}
.mini-cart-info .image {
	width: 1px;
}
.mini-cart-info .image img {
	border: 0px solid #EEEEEE;
	text-align: left;
}
.mini-cart-info .name small {
	color: #666;
}
.mini-cart-info .quantity {
	text-align: right;
}
.mini-cart-info td.total {
	text-align: right;
}
.mini-cart-info .remove {
	text-align: right;
}
.mini-cart-info .remove img {
	cursor: pointer;
}
.mini-cart-total {
	text-align: right;
}
.mini-cart-total table {
	border-collapse: collapse;
	display: inline-block;
	margin-bottom: 5px;
}
.mini-cart-total td {
	color: #000;
	padding: 4px;
}
#header #cart .checkout {
	text-align: right;
	clear: both;
}
#header #cart .empty {
	padding-top: 50px;
	text-align: center;
}
#header #search {
	position: absolute;
	top: 15px;
	right: 0px;
	width: 298px;
	z-index: 15;
}
#header .button-search {
	position: absolute;
	left: 0px;
	background: url('../image/button-search.png') center center no-repeat;
	width: 28px;
	height: 24px;
	border-right: 1px solid #CCCCCC;
	cursor: pointer;
}
#header #search input {
	background: #FFF;
	padding: 1px 1px 1px 33px;
	width: 262px;
	height: 21px;
	border: 1px solid #CCCCCC;
	-webkit-border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
	-khtml-border-radius: 3px 3px 3px 3px;
	border-radius: 3px 3px 3px 3px;
	-webkit-box-shadow: 0px 2px 0px #F0F0F0;
	-moz-box-shadow: 0px 2px 0px #F0F0F0;
	box-shadow: 0px 2px 0px #F0F0F0;
}
#header #welcome {
	position: absolute;
	top: 47px;
	right: 0px;
	z-index: 5;
	width: 298px;
	text-align: right;
	color: #999999;
}
#header .links {
	position: absolute;
	right: 0px;
	bottom: 3px;
	font-size: 10px;
	padding-right: 10px;
}
#header .links a {
	float: left;
	display: block;
	padding: 0px 0px 0px 7px;
	color: #38B0E3;
	text-decoration: none;
	font-size: 12px;
}
#header .links a + a {
	margin-left: 8px;
	border-left: 1px solid #CCC;
}
/* menu */
#menu {
	background: #008f32;
	height: 57px;
	margin-bottom: 15px;
	box-shadow: 0px 2px 2px #DDDDDD;
	/*padding: 0px 5px;*/
}
#menu #container-inside ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#menu #container-inside > ul > li {
	position: relative;
	float: left;
	z-index: 20;
  text-align: center;
	/*padding: 16px 15px 15px 0px;*/
}
#menu #container-inside > ul > li:hover {
}
#menu #container-inside > ul > li > a {
	font-size: 15px;
	color: #FFF;
	line-height: 15px;
  /*letter-spacing: 0.5px;*/
	text-decoration: none;
	display: block;
  padding-left: 25px;
  padding-right: 25px;
	/*padding: 35px 10px 6px 35px;*/
	margin-bottom: 5px;
  height: 56px;
  /*line-height: 56px;*/
  /*width: 100px;*/
  display: table-cell;
  vertical-align: middle;
  /*vertical-align: middle;*/
	z-index: 6;
	position: relative;
  /*font-family: 'MyriadProReg';*/
}
#menu #container-inside > ul > li:hover > a {
	background: #00822c;
}
#menu #container-inside > ul > li > div {
	display: none;
	background: #FFFFFF;
	position: absolute;
	z-index: 5;
	padding: 5px;
	background: #fff;
}
#menu #container-inside > ul > li:hover > div {
	display: table;
}
#menu #container-inside > ul > li > div > ul {
	display: table-cell;
}
#menu #container-inside > ul > li ul + ul {
	padding-left: 20px;
}
#menu #container-inside > ul > li ul > li > a {
    font-size:12px;
	text-decoration: underline;
	padding: 4px;
	color: #FFFFFF;
	display: block;
	white-space: nowrap;
	min-width: 120px;
}
#menu #container-inside > ul > li ul > li > a:hover {
	text-decoration:underline;
	background:#008f32;
	color:#fff;
  text-decoration: none;
}
#menu #container-inside > ul > li > div > ul > li > a {
	color: #5B9B21;
  text-decoration: none;
}
.breadcrumb {
	color: #CCCCCC;
	margin-bottom: 10px;
}
.success, .warning, .attention, .information {
	padding: 10px 10px 10px 33px;
	margin-bottom: 15px;
	color: #555555;
	-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-khtml-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
}
.success {
	background: #EAF7D9 url('../image/success.png') 10px center no-repeat;
	border: 1px solid #BBDF8D;
	-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-khtml-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
}
.warning {
	background: #FFD1D1 url('../image/warning.png') 10px center no-repeat;
	border: 1px solid #F8ACAC;
	-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-khtml-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
}
.attention {
	background: #FFF5CC url('../image/attention.png') 10px center no-repeat;
	border: 1px solid #F2DD8C;
	-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-khtml-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
}
.success .close, .warning .close, .attention .close, .information .close {
	float: right;
	padding-top: 4px;
	padding-right: 4px;
	cursor: pointer;
}
.required {
	color: #FF0000;
	font-weight: bold;
}
.error {
	display: block;
	color: #FF0000;
}
.help {
	color: #999;
	font-size: 10px;
	font-weight: normal;
	font-family: Verdana, Geneva, sans-serif;
	display: block;
}
table.form {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 20px;
}
table.form tr td:first-child {
	width: 150px;
}
table.form > * > * > td {
	color: #000000;
}
table.form td {
	padding: 4px;
}
input.large-field, select.large-field {
	width: 300px;
}
table.list {
	border-collapse: collapse;
	width: 100%;
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	margin-bottom: 20px;
}
table.list td {
	border-right: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
}
table.list thead td {
	background-color: #EFEFEF;
	padding: 0px 5px;
}
table.list thead td a, .list thead td {
	text-decoration: none;
	color: #222222;
	font-weight: bold;
}
table.list tbody td {
	padding: 0px 5px;
}
table.list .left {
	text-align: left;
	padding: 7px;
}
table.list .right {
	text-align: right;
	padding: 7px;
}
table.list .center {
	text-align: center;
	padding: 7px;
}
table.radio {
	width: 100%;
	border-collapse: collapse;
}
table.radio td {
	padding: 5px;
}
table.radio td label {
	display: block;
}
table.radio tr td:first-child {
	width: 1px;
}
table.radio tr td:first-child input {
	margin-top: 1px;
}
table.radio tr.highlight:hover td {
	background: #F1FFDD;
	cursor: pointer;
}
.pagination {
	border-top: 1px solid #EEEEEE;
	padding-top: 8px;
	display: inline-block;
	width: 93%;
	margin-bottom: 10px;
  margin-left: 50px;
}
.pagination .links {
	float: left;
}
.pagination .links a {
	display: inline-block;
	border: 1px solid #EEEEEE;
	padding: 4px 10px;
	text-decoration: none;
	color: #A3A3A3;
}
.pagination .links b {
	display: inline-block;
	border: 1px solid #269BC6;
	padding: 4px 10px;
	font-weight: normal;
	text-decoration: none;
	color: #269BC6;
	background: #FFFFFF;
}
.pagination .results {
	float: right;
	padding-top: 3px;
}
/* button */
a.button, input.button {
	cursor: pointer;
	color: #FFFFFF;
	line-height: 12px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 17px;
	font-weight: ;
	background:#5B9B21;
	padding: 30px;
	box-shadow: 0px 2px 2px #DDDDDD;
}
a.button {
	display: inline-block;
	text-decoration: none;
	padding: 6px 12px 6px 12px;
}
input.button {
	margin: 0;
	border: 0;
	height: 24px;
	padding: 0px 12px 0px 12px;
}
a.button:hover, input.button:hover {
	background-position: 0px -24px;
}
.buttons {
	background: #FFFFFF;
	border: 1px solid #EEEEEE;
	overflow: auto;
	padding: 6px;
	margin-bottom: 20px;
}
.buttons .left {
	float: left;
	text-align: left;
}
.buttons .right {
	float: right;
	text-align: right;
}
.buttons .center {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
.htabs {
  display: none;
  margin-top: 50px;
  padding-top: 5px;
  border-top: 1px solid #008f32;
	height: 30px;
	line-height: 16px;
	border-bottom: 0px solid #DDDDDD;
}
.stock-text {
  color: #008f32 !important;
  font-family: 'PTSansBold';
  /*font-weight: bold;*/
  font-size: 18px;
}
.stock-text:before {
  content: "\2713";
  font-size: 26px;
  font-family: 'MyriadProBold';
}

.htabs a {
	border-top: 0px solid #DDDDDD;
	border-left: 0px solid #DDDDDD;
	border-right: 0px solid #DDDDDD;
background: #008f32;	padding: 7px 15px 6px 15px;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	color: #fff;
	margin-right: 2px;
	display: none;
}
.htabs a.selected {
background: #fff;
	color:#000;
	
}
.tab-content {
	border-left: 0px solid #DDDDDD;
	border-right: 0px solid #DDDDDD;
	border-bottom: 0px solid #DDDDDD;
	padding: 10px;
	margin-bottom: 20px;
	z-index: 2;
	overflow: auto;
  clear: both;
}
/* box */
.box {
  
	margin-bottom: 20px;
 
}

.box-slide-wrapper {
  height: 400px;
   position: relative;
   margin-top: 10px;
   margin-bottom: 50px;
}

.box-slide-wrapper .owl-carousel .owl-wrapper-outer {
  height: 95%;
}

.item {
  text-align: center;
  height: 100%;
  height: 360px;
  position: relative;  
  padding-bottom: 10px;
  margin-top: 5px;
  margin-left: 5px;
  /*transition: box-shadow 0.3s;*/
  /*transition: box-shadow 1s;*/
   
}

.item:hover {
  -webkit-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.3);
  box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.3);
}

.item .price {
  color: #008F32;
  font-family: 'PTSansBold';
  font-size: 15px;
}

.image {
  text-align: center;
}

.box-heading {
	
	/*border: 0px solid #DBDEE1;*/
	/*background: #008f32;*/
  background: #2879b0;
	padding: 8px 10px 7px 10px;
	font-size: 15px;
	/*font-weight: bold;*/
  font-family: 'PTSansBold';
	line-height: 14px;
	color: #fff;
}
.box .box-content {
	/*background: #FFFFFF;*/
	
	border-radius: 0px 0px 7px 7px;
	border-left: 0px solid #DBDEE1;
	border-right: 0px solid #DBDEE1;
	border-bottom: 0px solid #DBDEE1;
	padding: 10px
}

/* box products */
.box-product {
	width: 100%;
	overflow: visible;
}
.box-product > div {
/*	width: 130px;
	display: inline-block;
	vertical-align: top;
	margin-right: 20px;
	margin-bottom: 20px;*/
}



#column-left + #column-right + #content .box-product > div {
	width: 119px;
}
.box-product .image {
	display: block;
	margin-bottom: 0px;
}
.box-product .image img {
	padding: 3px;
	border: 0px solid #E7E7E7;
}

.name a {
  font-family: 'PTSansBold';
  font-size: 15px;
}
.box-product .name a {
	color: #2879b0;
  font-size: 16px;
	/*font-weight: bold;*/
  font-family: 'PTSansBold';
	text-decoration: none;
	display: block;
	margin-bottom: 4px;
}
.box-product .price {
	display: block;
	/*font-weight: bold;*/
  font-family: 'PTSansBold';
	color: #008f32;
	margin-bottom: 4px;
  font-size: 16px;
}


.box-slide-wrapper .price-old {
  color: #F00 !important;
  text-decoration: line-through !important;
}

.box-product .price-old {
	color: #F00 !important;
	text-decoration: line-through !important;
}
.box-product .price-new {
	font-family: 'PTSansBold';
  color: #008F32;
}
.box-product .rating {
	display: block;
	margin-bottom: 4px;
}
/* box category */
ul.box-category, ul.box-category ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
ul.box-category > li:first-child {
	padding: 0px 8px 8px 0px;
}
ul.box-category > li {
	padding: 8px 8px 8px 0px;
}
ul.box-category > li + li {
	border-top: 1px solid #EEEEEE;
}
ul.box-category > li > a {
	text-decoration: none;
	color: #333;
}
ul.box-category > li ul {
	display: none;
}
ul.box-category > li a.active {
	font-weight: bold;
}
ul.box-category > li a.active + ul {
	display: block;
}
ul.box-category > li ul > li {
	padding: 5px 5px 0px 10px;
}
ul.box-category > li ul > li > a {
	text-decoration: none;
	display: block;
}
ul.box-category > li ul > li > a.active {
	font-weight: bold;
}
/* box filter */
ul.box-filter, ul.box-filter ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
ul.box-filter span {
	font-weight: bold;
	border-bottom: 1px solid #EEEEEE;	
	display: block;
	padding-bottom: 5px;
	margin-bottom: 8px;
}
ul.box-filter > li ul {
	padding-bottom: 10px;
}
/* content */
#content .content {
	padding: 10px;
	overflow: auto;
	margin-bottom: 20px;
	border: 1px solid #EEEEEE;
}
#content .content .left {
	float: left;
	width: 49%;
}
#content .content .right {
	float: right;
	width: 49%;
}
/* category */
.category-info {
	overflow: auto;
	margin-bottom: 20px;
}
.category-info .image {
	float: left;
	padding: 5px;
	margin-right: 15px;
	border: 0px solid #E7E7E7;
}
.category-list {
	overflow: auto;
	margin-bottom: 20px;
}
.category-list ul {
	float: left;
	width: 18%;
}
/* manufacturer */
.manufacturer-list {
	border: 1px solid #DBDEE1;
	padding: 5px;
	overflow: auto;
	margin-bottom: 20px;
}
.manufacturer-heading {
	background: #F8F8F8;
	font-size: 15px;
	font-weight: bold;
	padding: 5px 8px;
	margin-bottom: 6px;
}
.manufacturer-content {
	padding: 8px;
}
.manufacturer-list ul {
	float: left;
	width: 25%;
	margin: 0;
	padding: 0;
	list-style: none;
	margin-bottom: 10px;
}
/* product */

.quant-fildset {
  margin-top: 10px;
}

.quant-nav {
  position: relative;
  top: 10px;
  left: 5px;
  display: inline-block;
  
}

.quant-nav div {
  /*border: 1px solid black;*/
  /*height: 15px;*/
  width: 10px;
  /*height: 10px;*/
  text-align: center;
  cursor: pointer;  
}

.product-description {
  width: 230px;
  float: right;
  -webkit-box-shadow: 0px 0px 5px 0 rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 0px 5px 0 rgba(0,0,0,0.3);
  box-shadow: 0px 0px 5px 0 rgba(0,0,0,0.3);
  padding: 10px;
  margin-right: 300px;
  margin-top: 10px;
  padding-top: 0;
}

.product-description:hover {

}

.product-button {
  /*transform: translateX(-50%);*/
  width: 22%;
  border: 0;
  background: #2879b0;
  border-radius: 4px;
  box-shadow: 0 5px 0 #006599;
  color: #fff;
  cursor: pointer;
  font: inherit;
  margin: 0;
  outline: 0;
  padding: 12px 20px;
  font-size: 16px;
  transition: all .1s linear;
}

.product-button:hover {
   box-shadow: 0 2px 0 #006599;
  transform: translateY(3px);
}
.product-button:active {
  box-shadow: 0 2px 0 #006599;
  transform: translateY(3px);
}



.product-description-name {
  font-size: 20px;
  margin-top: 10px;
  font-family: 'PTSansBold';
}

.product-filter {
	border-bottom: 1px solid #EEEEEE;
	padding-bottom: 5px;
	overflow: auto;
}
.product-filter .display {
	margin-right: 15px;
	float: left;
	padding-top: 4px;
	color: #333;
}
.product-filter .display a {
	font-family: 'PTSansBold';
  font-family: 'MyriadProBold';
  font-size: 18px;
}
.product-filter .sort {
	float: right;
	color: #333;
}
.product-filter .limit {
	margin-left: 15px;
	float: right;
	color: #333;
}
.product-compare {
	padding-top: 6px;
	margin-bottom: 25px;
	font-weight: bold;
}
.product-compare a {
	text-decoration: none;
	/*font-weight: bold;*/
  font-family: 'PTSansBold';
  font-size: 14px;
  color: #2879B0;
  display: none;

}
.product-list > div {
	overflow: auto;
	margin-bottom: 15px;
  position: relative;
  margin-top: 30px;
  margin-bottom: 30px;
}
.product-list .right {
	float: right;
	margin-left: 15px;
}
.product-list > div + div {
	border-top: 1px solid #EEEEEE;
	padding-top: 16px;
}
.product-list .image {
	float: left;
	margin-right: 10px;
}
.product-list .image img {
	padding: 3px;
	border: 0px solid #E7E7E7;
}
.product-list .name {
	margin-bottom: 3px;
}
.product-list .name a {
	color: #2879b0;
	text-decoration: dotted;
	font-size:22px;
}
.product-list .description {
	line-height: 15px;
	margin-bottom: 5px;
	color: #4D4D4D;
}
.product-list .rating {
	color: #7B7B7B;
}
.product-list .price {
	float: right;
	width:130px;
	/*height: 75px;*/
	margin-left: 8px;
	text-align: right;
	color: #008f32;
	font-size: 19px;
	/*background:#FFF3B5;*/
	text-align: center;
	border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    position: absolute;
    right: 25px;
    top: 80px;
    font-family: 'PTSansBold';
}
.product-list .price-old {
	color: #F00;
	text-decoration: line-through;
}
.product-list .price-new {
	font-weight: bold;
}
.product-list .price-tax {
	font-size: 12px;
	font-weight: normal;
	color: #BBBBBB;
}
.product-list .cart {
	margin-bottom: 3px;
}
.product-list .wishlist, .product-list .compare {
	margin-bottom: 3px;
}
.product-list .wishlist a {
	color: #333333;
	text-decoration: none;
	padding-left: 18px;
	display: block;
	background: url('../image/add.png') left center no-repeat;
  position: absolute;
  bottom: 10px;
  right: 75px;
}
.product-list .wishlist a:hover {
  text-decoration: underline;
}

.product-list .compare a {
	color: #333333;
	text-decoration: none;
	padding-left: 18px;
	display: block;
	background: url('../image/add.png') left 60% no-repeat;
  display: none;
  
}

.product-grid {
	width: 100%;
	/*overflow: auto;*/
}
.product-grid > div {
	width: 180px;
  height: 350px;
	display: inline-block;
	vertical-align: top;
	/*margin-right: 20px;*/
  text-align: center;
  margin-left: 40px;
	margin-bottom: 15px;
  position: relative;
  padding-top: 20px;
  padding-bottom: 50px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.product-grid > div:hover {
  -webkit-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.3);
-moz-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.3);
box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.3);
}

#column-left + #column-right + #content .product-grid > div {
	width: 125px;
}
.product-grid .image {
	display: block;
	margin-bottom: 0px;
}
.product-grid .image img {
	padding: 3px;
	border: 0px solid #E7E7E7;
  width: 90%;
 
}
.product-grid .name a {
	color: #2879b0;
	font-family: 'PTSansBold';
	text-decoration: none;
	display: block;
	margin-bottom: 4px;
  font-size: 16px;
}
.product-grid .description {
	display: none;
}
.product-grid .rating {
	display: block;
	margin-bottom: 4px;
}
.product-grid .price {
	display: block;
	/*font-weight: bold;*/
  font-family: 'PTSansBold';
	color: #008f32;
	margin-bottom: 4px;
  font-size: 15px;
}
.product-grid .price-old {
	color: #F00;
	text-decoration: line-through;
}
.product-grid .price-new {
	font-family: 'PTSansBold';
  font-weight: normal;
}
.product-grid .price .price-tax {
	display: none;
}
.product-grid .cart {
	margin-bottom: 3px;
}
.product-grid .wishlist, .product-grid .compare {
	margin-bottom: 3px;
}
.product-grid .compare {
  display: none;
}
.product-grid .wishlist {
  text-align: left;
  position: absolute;
  bottom: 5px;
}

.product-grid .wishlist a {
	color: #333333;
	text-decoration: none;
	padding-left: 18px;
	display: block;
	background: url('../image/add.png') left center no-repeat;
  margin-left: 10px;
}

.product-grid .wishlist a:hover {
  text-decoration: underline;
}

.product-grid .compare a {
	color: #333333;
	text-decoration: none;
	padding-left: 18px;
	display: block;
	background: url('../image/add.png') left center no-repeat;
  
}
/* Product */
.product-info {
	/*overflow: auto;*/
	margin-bottom: 20px;
	height:360px;
}
.product-info > .left {
	float: left;
	margin-right: 15px;
}
.product-info > .left + .right {
	margin-left: 265px;
}
.product-info .image {
	border: 0px solid #E7E7E7;
	float: left;
	margin-bottom: 20px;
	padding: 10px;
	text-align: center;
}
.product-info .image-additional {
	/*width: 260px;*/
	margin-left: -100px;
	/*clear: both;*/
	overflow: hidden;
  position: absolute;
}
.product-info .image-additional img {
	border: 0px solid #E7E7E7;
  width: 60px;
  /*padding: 20px;*/
}
.product-info .image-additional img:hover {
   
}
.product-info .image-additional a {
	/*float: left;*/
	display: block;
	margin-left: 10px;
	margin-bottom: 10px;
}
/*.product-info .image-additional a:hover {
   -webkit-box-shadow: 0px 0px 5px 0 rgba(0,0,0,0.3);
    box-shadow: 0px 0px 5px 0 rgba(0,0,0,0.3);
}
*/
.product-info .description {
	border-top: 0px solid #E7E7E7;
	border-bottom:0px solid #E7E7E7;
	padding: 5px 5px 10px 5px;
	margin-bottom: 10px;
	line-height: 20px;
	color: #4D4D4D;
}
.product-info .description span {
	color: #38B0E3;
}
.product-info .description a {
	color: #4D4D4D;
	text-decoration: none;
}
.product-info .price {
  margin-top: -10px;
	overflow: auto;
	/*border-bottom: 0px solid #008f32;*/
	padding: 0px 5px 10px 5px;
	/*margin-bottom: 10px;*/
	font-size: 25px;
	/*font-weight: ;*/
	color: #008f32;
  font-family: 'PTSansBold';
}
.product-info .price-old {
	color: #F00;
	text-decoration: line-through;
}
.product-info .price-new {
}
.product-info .price-tax {
	font-size: 12px;
	font-weight: normal;
	color: #999;
}
.product-info .price .reward {
	font-size: 12px;
	font-weight: normal;
	color: #999;
}
.product-info .price .discount {
	font-weight: normal;
	font-size: 12px;
	color: #4D4D4D;
}
.product-info .options {
	border-bottom: 0px solid #E7E7E7;
	padding: 0px 5px 10px 5px;
	margin-bottom: 10px;
	color: #000000;
}
.product-info .option-image {
	margin-top: 3px;
	margin-bottom: 10px;
}
.product-info .option-image label {
	display: block;
	width: 100%;
	height: 100%;
}
.product-info .option-image img {
	margin-right: 5px;
	border: 1px solid #CCCCCC;
	cursor: pointer;
}
.product-info .cart {
	border-bottom: 0px solid #E7E7E7;
	padding: 0px 5px 10px 5px;
	margin-bottom: 20px;
	color: #4D4D4D;
  margin-top: 10px;
}
.product-info .cart div > span {
	color: #999;
}
.product-info .cart .links {
  margin-top: -10px;
	display: block;
	vertical-align: middle;
}
.product-info .cart .minimum {
	padding-top: 5px;
	font-size: 11px;
	color: #999;
}
.product-info .review {
	color: #4D4D4D;
	border-top: 1px solid #E7E7E7;
	border-left: 1px solid #E7E7E7;
	border-right: 1px solid #E7E7E7;
	margin-bottom: 10px;
}
.product-info .review > div {
	padding: 8px;
	border-bottom: 1px solid #E7E7E7;
	line-height: 20px;
}
.product-info .review > div > span {
	color: #38B0E3;
}
.product-info .review .share {
	overflow: auto;
	line-height: normal;
}
.product-info .review .share a {
	text-decoration: none;
}
.review-list {
	padding: 10px;
	overflow: auto;
	margin-bottom: 20px;
	border: 1px solid #EEEEEE;
}
.review-list .author {
	float: left;
	margin-bottom: 20px;
}
.review-list .rating {
	float: right;
	margin-bottom: 20px;
}
.review-list .text {
	clear: both;
}
.attribute {
	border-collapse: collapse;
	width: 100%;
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	margin-bottom: 20px;
}
.attribute thead td, .attribute thead tr td:first-child {
	color: #000000;
	font-size: 14px;
	font-weight: bold;
	background: #F7F7F7;
	text-align: left;
}
.attribute tr td:first-child {
	color: #000000;
	font-weight: bold;
	text-align: right;
	width: 20%;
}
.attribute td {
	padding: 7px;
	color: #4D4D4D;
	text-align: center;
	vertical-align: top;
	border-right: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
}
.compare-info {
	border-collapse: collapse;
	width: 100%;
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	margin-bottom: 20px;
}
.compare-info thead td, .compare-info thead tr td:first-child {
	color: #000000;
	font-size: 14px;
	font-weight: bold;
	background: #F7F7F7;
	text-align: left;
}
.compare-info tr td:first-child {
	color: #000000;
	font-weight: bold;
	text-align: right;
}
.compare-info td {
	padding: 7px;
	width: 20%;
	color: #4D4D4D;
	text-align: center;
	vertical-align: top;
	border-right: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
}
.compare-info .name a {
	font-weight: bold;
}

b {
  font-family: 'PTSansBold';
  font-weight: normal;
}

.price-text {
  /*font-family: 'MyriadProBold';*/
}

.compare-info .price-old {
	font-weight: bold;
	color: #F00;
	text-decoration: line-through;
}
.compare-info .price-new {
	font-weight: bold;
}
/* wishlist */
.wishlist-info table {
	width: 100%;
	border-collapse: collapse;
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
	margin-bottom: 20px;
}
.wishlist-info td {
	padding: 7px;
}
.wishlist-info thead td {
	color: #4D4D4D;
	font-weight: bold;
	background-color: #F7F7F7;
	border-bottom: 1px solid #DDDDDD;
}
.wishlist-info thead .image {
	text-align: center;
}
.wishlist-info thead .name, .wishlist-info thead .model, .wishlist-info thead .stock {
	text-align: left;
}
.wishlist-info thead .quantity, .wishlist-info thead .price, .wishlist-info thead .total, .wishlist-info thead .action {
	text-align: right;
}
.wishlist-info tbody td {
	vertical-align: top;
	border-bottom: 1px solid #DDDDDD;
}
.wishlist-info tbody .image img {
	border: 1px solid #DDDDDD;
}
.wishlist-info tbody .image {
	text-align: center;
}
.wishlist-info tbody .name, .wishlist-info tbody .model, .wishlist-info tbody .stock {
	text-align: left;
}
.wishlist-info tbody .quantity, .wishlist-info tbody .price, .wishlist-info tbody .total, .wishlist-info tbody .action {
	text-align: right;
}
.wishlist-info tbody .price s {
	color: #F00;
}
.wishlist-info tbody .action img {
	cursor: pointer;
}
.login-content {
	margin-bottom: 20px;
	overflow: auto;
}
.login-content .left {
	float: left;
	width: 48%;
}
.login-content .right {
	float: right;
	width: 48%
}
.login-content .left .content, .login-content .right .content {
	min-height: 190px;
}
/* orders */
.order-list {
	margin-bottom: 10px;
}
.order-list .order-id {
	width: 49%;
	float: left;
	margin-bottom: 2px;
}
.order-list .order-status {
	width: 49%;
	float: right;
	text-align: right;
	margin-bottom: 2px;
}
.order-list .order-content {
	padding: 10px 0px;
	display: inline-block;
	width: 100%;
	margin-bottom: 20px;
	border-top: 1px solid #EEEEEE;
	border-bottom: 1px solid #EEEEEE;
}
.order-list .order-content div {
	float: left;
	width: 33.3%;
}
.order-list .order-info {
	text-align: right;
}
.order-detail {
	background: #EFEFEF;
	font-weight: bold;
}
/* returns */
.return-list {
	margin-bottom: 10px;
}
.return-list .return-id {
	width: 49%;
	float: left;
	margin-bottom: 2px;
}
.return-list .return-status {
	width: 49%;
	float: right;
	text-align: right;
	margin-bottom: 2px;
}
.return-list .return-content {
	padding: 10px 0px;
	display: inline-block;
	width: 100%;
	margin-bottom: 20px;
	border-top: 1px solid #EEEEEE;
	border-bottom: 1px solid #EEEEEE;
}
.return-list .return-content div {
	float: left;
	width: 33.3%;
}
.return-list .return-info {
	text-align: right;
}
.return-product {
	overflow: auto;
	margin-bottom: 20px;
}
.return-name {
	float: left;
	width: 31%;
	margin-right: 15px;
}
.return-model {
	float: left;
	width: 31%;
	margin-right: 15px;
}
.return-quantity {
	float: left;
	width: 31%;
}
.return-detail {
	overflow: auto;
	margin-bottom: 20px;
}
.return-reason {
	float: left;
	width: 31%;
	margin-right: 15px;
}
.return-opened {
	float: left;
	width: 31%;
	margin-right: 15px;
}
.return-opened textarea {
	width: 98%;
	vertical-align: top;
}
.return-captcha {
	float: left;
}
.download-list {
	margin-bottom: 10px;
}
.download-list .download-id {
	width: 49%;
	float: left;
	margin-bottom: 2px;
}
.download-list .download-status {
	width: 49%;
	float: right;
	text-align: right;
	margin-bottom: 2px;
}
.download-list .download-content {
	padding: 10px 0px;
	display: inline-block;
	width: 100%;
	margin-bottom: 20px;
	border-top: 1px solid #EEEEEE;
	border-bottom: 1px solid #EEEEEE;
}
.download-list .download-content div {
	float: left;
	width: 33.3%;
}
.download-list .download-info {
	text-align: right;
}
/* cart */
.cart-info table {
	width: 100%;
	margin-bottom: 15px;
	border-collapse: collapse;
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
}
.cart-info td {
	padding: 7px;
}
.cart-info thead td {
	color: #4D4D4D;
	font-weight: bold;
	background-color: #F7F7F7;
	border-bottom: 1px solid #DDDDDD;
}
.cart-info thead .image {
	text-align: center;
}
.cart-info thead .name, .cart-info thead .model, .cart-info thead .quantity {
	text-align: left;
}
.cart-info thead .price, .cart-info thead .total {
	text-align: right;
}
.cart-info tbody td {
	vertical-align: top;
	border-bottom: 1px solid #DDDDDD;
}
.cart-info tbody .image img {
	border: 1px solid #DDDDDD;
}
.cart-info tbody .image {
	text-align: center;
}
.cart-info tbody .name, .cart-info tbody .model, .cart-info tbody .quantity {
	text-align: left;
}
.cart-info tbody .quantity input[type='image'], .cart-info tbody .quantity img {
	position: relative;
	top: 4px;
	cursor: pointer;
}
.cart-info tbody .price, .cart-info tbody .total {
	text-align: right;
}
.cart-info tbody span.stock {
	color: #F00;
	font-weight: bold;
}
.cart-module > div {
	display: none;
}
.cart-total {
	border-top: 1px solid #DDDDDD;
	overflow: auto;
	padding-top: 8px;
	margin-bottom: 15px;
}
.cart-total table {
	float: right;
}
.cart-total td {
	padding: 3px;
	text-align: right;
}
/* checkout */
.checkout-heading {
	background: #F8F8F8;
	border: 1px solid #DBDEE1;
	padding: 8px;
	font-weight: bold;
	font-size: 13px;
	color: #555555;
	margin-bottom: 15px;
}
.checkout-heading a {
	float: right;
	margin-top: 1px;
	font-weight: normal;
	text-decoration: none;
}
.checkout-content {
	padding: 0px 0px 15px 0px;
	display: none;
	overflow: auto;
}
.checkout-content .left {
	float: left;
	width: 48%;
}
.checkout-content .right {
	float: right;
	width: 48%;
}
.checkout-content .buttons {
	clear: both;
}
.checkout-product table {
	width: 100%;
	border-collapse: collapse;
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
	margin-bottom: 20px;
}
.checkout-product td {
	padding: 7px;
}
.checkout-product thead td {
	color: #4D4D4D;
	font-weight: bold;
	background-color: #F7F7F7;
	border-bottom: 1px solid #DDDDDD;
}
.checkout-product thead .name, .checkout-product thead .model {
	text-align: left;
}
.checkout-product thead .quantity, .checkout-product thead .price, .checkout-product thead .total {
	text-align: right;
}
.checkout-product tbody td {
	vertical-align: top;
	border-bottom: 1px solid #DDDDDD;
}
.checkout-product tbody .name, .checkout-product tbody .model {
	text-align: left;
}
.checkout-product tbody .quantity, .checkout-product tbody .price, .checkout-product tbody .total {
	text-align: right;
}
.checkout-product tfoot td {
	text-align: right;
	border-bottom: 1px solid #DDDDDD;
}
.contact-info {
	overflow: auto;
}
.contact-info .left {
	float: left;
	width: 48%;
}
.contact-info .right {
	float: left;
	width: 48%;
}
.sitemap-info {
	overflow: auto;
	margin-bottom: 40px;
}
.sitemap-info .left {
	float: left;
	width: 48%;
}
.sitemap-info .right {
	float: left;
	width: 48%;
}
/* footer */ 
#footer {
	font-family: 'PT Sans Caption', sans-serif;
	clear: both;
	overflow: auto;
	min-height: 100px;
	padding: 20px;
  padding-top: 0;
	/*background: #1D3356;*/
	height:250px;
	background-color: rgba(240, 240, 240, 0.5);
  border-top: 2px solid #ddd;
  /*background-image: url('../image/back.png');*/
  position: relative;
}

.footer-logo {
  margin-top: 20px;
}

.footer-tel {
  position: absolute;
  right: 50px;
  top: 21px;
  font-size: 17px;
  font-family: 'MyriadProReg';
  color: #555;
}

.footer-tel span {
  font-family: 'MyriadProBold';
}

.footer-tel-img {
  position: absolute;
  top: 30px;
  right: 160px;
}
.footer-work {
  position: absolute;
  right: 260px;
  top: 21px;
  font-size: 17px;
  font-family: 'MyriadProReg';
  color: #555;
}

.footer-work span {
  font-size: 16px;
  font-family: 'MyriadProBold';
}

.footer-work-img {
  position: absolute;
  top: 30px;
  right: 400px;
}

.footer-geo {
  position: absolute;
  right: 250px;
  top: 120px;
  font-size: 17px;
  font-family: 'MyriadProReg';
  color: #555;
  line-height: 23px;
}

.footer-geo span {
  font-family: 'MyriadProBold';
  font-size: 16px;
}

.footer-geo-img {
  position: absolute;
  top: 120px;
  right: 400px;
}
.footer-icq {
  position: absolute;
  right: 65px;
  top: 120px;
  font-size: 17px;
  font-family: 'MyriadProBold';
  color: #555;
  line-height: 23px;
}

.footer-icq span {
  font-family: 'MyriadProBold';
  font-size: 16px;
}

.footer-icq-img {
  position: absolute;
  top: 120px;
  right: 170px;
}
#footer h3 {
    font-family: 'PT Sans Caption', sans-serif;
	color: #fff;
	font-size: 15px;
	margin-top: 0px;
	margin-bottom: 8px;
}
#footer .column {
	float: left;
	width: 18%;
	min-height: 100px;
}
#footer .column ul {
	margin-top: 20px;
	margin-left: 8px;
	padding-left: 12px;
  list-style: none;
}
#footer .column ul li {
	margin-bottom: 3px;
}
#footer .column a {
	text-decoration: none;
	color: #000;
  font-family: 'MyriadProReg';
  font-size: 16px;
}
#footer .column a:hover {
	text-decoration: underline;
}
#powered {
	margin-top: 5px;
	text-align: right;
	clear: both;
}
/* banner */
.banner div {
	text-align: center;
	width: 100%;
	display: none;
}

.banner div img {
	margin-bottom: 20px;
}

.currency-value {
  position: absolute;
  right: 85px;
  top: 97px;
  cursor: pointer;
}

.currency-value-animate {
  animation: currency 2s;
  animation-fill-mode:forwards;
  
  transform: translateX(1000px);
  animation-duration: 2s;
  animation-delay: 2.5s;   
}


@keyframes currency {
    0% {      
      transform: translateX(1000px);
    }
    100% { 
      transform: translateX(0);
    }
}

.currency-number {
  font-family: 'MyriadProReg';
  color: #555;
  font-size: 22px;
}

.phone{
margin-left: 300px;
padding: 30px;
}

.sear{
  position: relative;
  /* position: absolute;
   right: -40px;
   top: 150px;*/
 /*margin-top:-143px;*/
 margin: 0 auto;
 /*margin-left: 260px;*/
 display: block;
 width: 501px;
 margin-bottom: 20px;
}
.exapple {
  position: absolute;
  top: 7px;
  left: 520px;
  margin-top: 5px;
  color: #4c79ad;
  font-family: 'MyriadProReg';
  width: 130px;
}

.header-call {
  position: absolute;
  /*left: 500px;*/
  top: 10px;
  width: 190px;
  right: 0;
}

.sear .inpt{
 /* position: absolute;
  top: 5px;
  left: 5px;*/
  width:446px;
  height:30px;
  font-size:15px;
  font-family: 'MyriadProReg';
  /*border:1px solid #5B9B21;*/
  outline: none;
/*  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;*/
  padding-left: 10px;
}

.sbut{
/*border:0px solid #5B9B21;*/
/*background:url('../image/lp.png') ;*/
/*height:30px;*/
/*width:40px;*/
float: right;
}
.scrb{
text-align: right;
/*margin-top:-170px;*/
font-style: italic;
color:#5B9B21;
}
b{color:#34495E;}
.copy{
color:#8D98AA;
margin-top:130px;
}
center{color:#5B9B21;}
/* Request By Vin */

#request-by-vin {
	font-size: 13px;
}

#request-by-vin .fields {
	margin: 15px 0 0;
	overflow: hidden;
	float: left;
	width: 53%; 
}
#request-by-vin select {
	min-width: 150px; 
}
#request-by-vin label {
	width: 163px;
	display: inline-block;
	vertical-align: middle;
	line-height: 14px;
}
#request-by-vin label[for="parts"] {
	vertical-align: top;
}
#request-by-vin label span {
	color: #d11b1b;
}
#request-by-vin .row {
	overflow: hidden;
	margin: 0 0 6px;
}
#content input[type="text"],
#content input[type="password"],
#content input[type="email"]  { 
	display: inline-block;
	vertical-align: middle;
	background-color: #f3f3f3 !important; 
	border: 1px solid #e3e3e3;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	height: 34px;
	line-height: 34px;
	padding: 0 10px;
	margin: 0; 
}
#content textarea  {
	display: inline-block;
	vertical-align: middle;
	background-color: #f3f3f3 !important; 
	border: 1px solid #e3e3e3;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px; 
	padding: 0 10px;
	margin: 0; 
	resize: none;
	width: 265px!important;
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #f3f3f3 inset; 
}
#request-by-vin input.text,
.page_edit #content input[type="text"],
.page_password #content input[type="password"],
.page_address #content input[type="text"] { 
  width: 265px;
}
.page_address select,
.page_checkout select {
	width: 287px;
}
#request-by-vin .submit {
	float: right;
	background-color: #5B9B21;
	height: 40px; 
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border: 1px solid #5B9B21;
	font-size: 17px;
	font-family: 'Ubuntu', sans-serif;
	width: 240px;
	padding: 0;
	font-size: 17px;
	cursor: pointer;
}
#request-by-vin .submit:hover {
	opacity: 0.9;
	-moz-opacity: 0.9;
	-webkit-opacity: 0.9;
}
#request-by-vin select {
	display: inline-block;
	vertical-align: middle;
	background-color: #f3f3f3 !important; 
	border: 1px solid #e3e3e3;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px; 
	padding: 0 10px;
	margin: 0; 
	resize: none;
	width: 287px!important;
	height:34px;
}
#request-by-vin textarea.text {
	width: 265px;
	overflow: hidden;
	resize: none;
	height: 84px;
	display: inline-block;
	vertical-align: middle;
	background-color: #f3f3f3;
	border: 1px solid #e3e3e3;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	margin-bottom: 20px;
}
#request-by-vin-text {
  float: right;
  width:45%;	 
  margin-top: 10px;
  line-height: 1.6em;
}
#request-by-vin-text p {
	padding: 0 0 12px;
}
#request-by-vin .warning,
#request-by-vin .success {
	 display: none;
	 font-size: 13px;
	 margin-right: 10px;
}
.page_common .admin_panel {
	display: none;
}
.request-content {
	overflow: hidden;
}
div.hr {
	height: 2px;
	background-color: #5B9B21;
	margin: 25px 0;
	float: none;
	overflow: hidden;
	clear: both;
	width: 100%;
}
.ew{
/*margin-top:-20px;*/
}

/*----------------------------------------------------slideshow*/
.slideshow {
  position: relative;
}

.prev {
  position: absolute;
  top: 90px;  
  left: 10px;
  margin-left: -30px;
  cursor: pointer;
  z-index: 200;
  font-size: 80px;
  color: rgba(0, 0, 0, 0.6);  
  opacity: 0;
 transition: margin 0.3s ease-out, opacity 0.3s ease;
}

.next {
  position: absolute;
  top: 90px;  
  right: 10px;
  margin-right: -30px;
  cursor: pointer;
  z-index: 200;
  font-size: 80px;
  color: rgba(0, 0, 0, 0.6);  
  opacity: 0;
  transition: margin 0.3s ease-out, opacity 0.3s ease;
}

.slideshow:hover > .next { 
    right: 10px;
    opacity: 1;
    margin-right: 0;
    transition: margin 0.3s ease-out, opacity 0.3s ease;
}

.slideshow:hover > .prev { 
  left: 10px;
  opacity: 1;
  margin-left: 0;
  transition: margin 0.3s ease-out, opacity 0.3s ease;
}

.special-button {
  position: absolute;
  bottom: 10px;
  left: 5.5%;
  width: 90%;
  border: 0;
  background: #2879b0;
  border-radius: 4px;
  box-shadow: 0 5px 0 #006599;
  color: #fff;
  cursor: pointer;
  font: inherit;
  margin: 0;
  outline: 0;
  padding: 10px 20px;
  transition: all .1s linear;
}

.special-button:hover {
   box-shadow: 0 2px 0 #006599;
  transform: translateY(3px);
}
.special-button:active {
  box-shadow: 0 2px 0 #006599;
  transform: translateY(3px);
}

.special-button-teck {
  background: #2879b0;
  border-radius: 4px;
  box-shadow: 0 5px 0 #006599;
  color: #fff;
  cursor: pointer;
  /*font: inherit;*/
  margin: 0;
  outline: 0;
  padding: 6px 25px;
  border: none;
  /*margin-top: -10px;*/
  margin-bottom: 5px;
  transition: all .1s linear;
}

.special-button-teck:hover {
   box-shadow: 0 2px 0 #006599;
  transform: translateY(3px);
}
.special-button-teck:active {
  box-shadow: 0 2px 0 #006599;
  transform: translateY(3px);
}

.category_item_button { 
  position: absolute;
  bottom: 40px;
  right: 10px;
  /*width: 90%;*/
  border: 0;
  background: #2879b0;
  border-radius: 4px;
  box-shadow: 0 5px 0 #006599;
  color: #fff;
  cursor: pointer;
  font: inherit;
  margin: 0;
  outline: 0;
  padding: 10px 55px;
  transition: all .1s linear;
}

.category_item_button:hover { 
 box-shadow: 0 2px 0 #006599;
  transform: translateY(3px);
}


.category_item_button:active {
  box-shadow: 0 2px 0 #006599;
  transform: translateY(3px);
}



select {
    padding:3px;
    margin: 0;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow: 0 2px 0 #ccc, 0 -1px #fff inset;
    -moz-box-shadow: 0 2px 0 #ccc, 0 -1px #fff inset;
    box-shadow: 0 2px 0 #ccc, 0 -1px #fff inset;
    background: #fff;
    color:#333;
    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
    border: 1px solid #ddd;
}
