.corp_table_2 .head2 td {
	text-transform: none;
}
.corp_table_2 .head2 td .jq-selectbox-wrapper {
  top:-2px;
} 
.corp_table_2 h3 {
	font-size: 17px;
	color: #00437c;
	font-weight: normal;
	margin: 0;
} 
.corp_table_2 .dotted {
  border-bottom: 1px dotted #ccc;
  display: block;
  height: 1px;
  margin: 0 0 8px;
  padding: 8px 0 0;
}
.corp_table_2 .pads2 td.opts {
	background: url(images/td-shadow.png) no-repeat 0 50%;
  padding-left: 30px !important;
}
.gosrch.ttip {
	background: url(/autoparts/media/images/nopic.jpg) no-repeat;
	height: 88px;
	width: 88px;
	font-size: 0; 
}
.corp_table_2 .criteria {
	font-size: 13px; 
	padding-bottom: 8px;
}
.corp_table_2 .pads2 td.opts2 {
	background: url("images/td-shadow.png") no-repeat scroll 0 50% rgba(0, 0, 0, 0);
  padding-left: 30px !important;
}
.corp_table_2 .moreprops {
	background: url(images/icon-arrow-bottom.png) no-repeat 100% 50%;
	display: inline-block;
	padding-right: 10px;
}

.corp_table_2 .moreprops a,
.corp_table_2 .moreprops2 a  {
	border-bottom: 1px dotted #275791;
	color: #275791;
	font-size: 13px;
	font-weight: 500;
	line-height: 1.2em;
	text-decoration: none;
} 
.corp_table_2 .pads2 td.tdbrand {
	padding-right: 45px !important;
}
.corp_table_2 .pads2 td.tdbrand {
	position: relative;
}
.corp_table_2 .pads2 td.tdbrand .dopinfo {
	position: absolute;
	top: 20px;
	right: 15px;
}
.corp_table_2 .pads2 td.tdbrand .carsapp {
	position: absolute;
	top: 20px;
	right: 0;
}
.corp_table_2 .pads2 td.rigbord,
.corp_table_2 .pads2 td.options {
	padding: 0 !important;
}

/* Filters */

.letfilter {
	margin: 0 0 10px;
	overflow: hidden;
	background-color: #f3f3f3;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	padding: 4px 10px 6px;
}
.letfilter a {
	float: left; 
	width: 34px;
	cursor: pointer;
  height: 35px; 
  text-align: center;
  line-height: 34px;
  text-decoration: none;
  font-size: 15px !important;
  color: #757575!important;
}
.letfilter a.active {
	background: #fff !important;
	border-radius: 3px !important;
	-moz-border-radius: 3px !important;
	-webkit-border-radius: 3px !important;
	-webkit-box-shadow: 0px 1px 1px 0px rgba(50, 50, 50, 0.5);
	-moz-box-shadow: 0px 1px 1px 0px rgba(50, 50, 50, 0.5);
	box-shadow: 0px 1px 1px 0px rgba(50, 50, 50, 0.5);
}
.bftitle{margin:0px 0px 8px 0px;}
.allbrands{margin:0px 0px 8px 0px!important; overflow: hidden;}
.allbrands a{
	margin:0px 3px 3px 0px; 
	padding:6px 14px 6px 14px; 
	display:block; float:left; 
	background:#f3f3f3; 
	color:#404040; 	
	 -moz-border-radius:6px; 
	 -webkit-border-radius:6px; 
	 border-radius:6px;
	 
}
.allbrands a:hover{background:#F7DBC1; color:#000; 
	background:#f1f1f1; 
}
.allbrands a i{font-size:11px; font-weight:normal!important; color:#828282;}
.allbrands a span{font-size:11px; font-weight:normal!important; color:#FF4800;}

.filteredby{float:left; margin:7px 8px 0px 0px;}
.remove{background:#F2C4C4!important; color:#000!important;}
.remove:hover{background:#e3b7b7!important; color:#000;}
.delimg{background: url("images/delete.png"); width:8px; height:8px; float:right; margin:3px 0px 0px 5px;}
.removeall{background:#DEDEDE; padding:5px 14px 5px 14px!important;}
.removeall:hover{background:#F2C4C4!important; }
.removeall div{background: url("images/trash.gif"); width:16px; height:16px;}

/* Sort */
.sortdiv{height:30px; border:0px solid #000; margin:0px; vertical-align:middle;}
.vbox{width:44px; height:42px; float:right; margin:-8px 12px 0px 0px; display:block; background:#ededed; border:1px solid #ffffff;  -moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px; -moz-box-shadow:1px 1px 4px rgba(0,0,0,0.2); -webkit-box-shadow:1px 1px 4px rgba(0,0,0,0.2); box-shadow:1px 1px 4px rgba(0,0,0,0.2);}
.vbox div{height:42px; background-repeat:no-repeat!important; background-position:5px 5px;}
.vactive{background:-webkit-gradient(linear, center top, center bottom, from(#fff), to(#c8c8c8)); background-image:linear-gradient(#fff, #c8c8c8);  }
.vactive:hover{margin:-9px 12px 0px 0px!important; -webkit-gradient(linear, center top, center bottom, from(#fff), to(#c7cedd)); background-image:linear-gradient(#fff, #c7cedd); -moz-box-shadow:1px 1px 4px rgba(0,0,0,0.4)!important; -webkit-box-shadow:1px 1px 4px rgba(0,0,0,0.4)!important; box-shadow:1px 1px 4px rgba(0,0,0,0.4)!important;}
.vtext{float:right; margin:9px 10px 0px 0px;}
.vcard_ div{background-image:url("images/cardview.png"); opacity:0.5; cursor:default;}
.vcard div{background-image:url("images/cardview.png");}
.vcard div:hover{background-image:url("images/cardview_hover.png");}
.vlist_ div{background-image:url("images/listview.png"); opacity:0.5; cursor:default;}
.vlist div{background-image:url("images/listview.png");}
.vlist div:hover{background-image:url("images/listview_hover.png");}

.pricetype{float:right; margin:12px 0px 10px 0px; color:#9E1A00;}

/* CARD view */
.tditem{position:relative; margin:0px 15px 17px 0px; padding:10px;  display:inline!important; float:left;
	background: -webkit-gradient(linear, center top, center bottom, from(#fff), to(#c8c8c8)); background-image: linear-gradient(#fff, #c8c8c8);
	border:1px solid #ffffff; -moz-border-radius:10px; -webkit-border-radius:10px; border-radius:10px;
	-moz-box-shadow:1px 1px 4px rgba(0,0,0,0.4); -webkit-box-shadow:1px 1px 4px rgba(0,0,0,0.4); box-shadow:1px 1px 4px rgba(0,0,0,0.4);
}
.tditem:hover{background: -webkit-gradient(linear, center top, center bottom, from(#fff), to(#DEDEDE)); background-image: linear-gradient(#fff, #DEDEDE);}
.tditem hr{padding:0px!important; margin:6px 0px 6px 0px!important; color:#ffffff!important; height:1px!important; background:#ffffff!important; border-bottom:1px solid #c3c3c3!important; border-top:0px!important; border-left:0px!important; border-right:0px!important;}
.tditem .logobox{height:70px; background-size:contain; background-repeat:no-repeat; background-position:50% 0%; background-color:#fff;}
.tditem .photobox{height:100px; background-size:contain; background-repeat:no-repeat; background-position:50% 50%; background-color:#fff;}
.tditem .gosrch{padding:30px 10px 0px 10px;}

a.image{
		/*width:135px; */
		/*display: inline-block;*/
		/*height:180px; */
		height: 15px;
		text-align:center; 
		font-size:11px; 
		color:#878787; 
		/*float: right;*/
		margin-right: 7px;
		margin-bottom: -1px;
		display: block;
		outline: none;
		/*margin:0px 15px 20px 0px; */
	  }
a.image:hover{
	cursor:pointer;
}


.tditem .addphoto{position:absolute; top:179px; left:11px; background:#74A4E3; color:#fff; text-shadow:1px 1px 1px #000; padding:3px 6px 5px 4px; cursor:default; border-top-right-radius:6px;}
.tditem .cbx_imgs{cursor:pointer;}
.tditem .tdbrand{color:#124D87; font-weight:bold; font-size:13px; font-family:Verdana;}
.tditem .tdbrand:hover{color:#C43800; text-decoration:underline;}
.tditem .linked{color:#B00E0E!important;}
.tditem .article{color:#5d5d5d; font-size:13px; font-family:Arial; cursor:default;}
.tditem .aid{color:#be9e9e; font-size:10px; font-family:Verdana; cursor:default;}
.tditem .name{height:55px; margin-bottom:10px; overflow:hidden; cursor:default;}
.tditem .criteria{color:#5b5b5b; font-size:11px;}
.dopinfo{width:16px; height:16px; background:url('images/dinfo.png'); float:right; display:block; margin:0px 6px 0px 0px;}
.dopinfo:hover{opacity:0.5; margin-top:-1px;}
.carsapp{width:16px; height:16px; background:url('images/cars.png'); float:right; display:block; margin:0px;}
.carsapp:hover{opacity:0.5; margin-top:-1px;}
.tditem .link{display:block; margin-right:4px; float:left; width:16px; height:16px; background:url('images/link.png');}
.pricetab{border-collapse:collapse; background:#fff; margin:0px 0px 6px 0px;}
.pricetab td{cursor:default; padding:4px 7px 4px 7px; border-bottom:1px solid #999999; border-left:1px solid #fff; border-right:1px solid #fff; border-top:1px solid #fff;}
.pricetab .head{cursor:default; background: -webkit-gradient(linear, center top, center bottom, from(#fff), to(#D4D4D4)); background-image: linear-gradient(#fff, #D4D4D4); }
.pricetab .head td:hover{background: -webkit-gradient(linear, center top, center bottom, from(#fff), to(#E3E3E3)); background-image: linear-gradient(#fff, #E3E3E3);}
.pricetab .prow{font-family:Arial;}
.pricetab .prow:hover{background:#EFF5ED!important;}
.pricetab .options{max-width:50px; overflow:hidden;}
.pricetab .cost{color:#379C08; font-weight:bold;}
.tditem .prices{float:left;}
.tditem .sbut{color:#b42410;}
.tditem .hbut{display:none; color:#b42410;}


/* LIST view */
.tdlist{width:100%;}
.tdlist .head td{padding:0px 10px 0px 10px; font-weight:bold; font-size:12px; cursor:pointer; white-space:nowrap; height:42px; text-shadow:1px 1px 1px #ffffff; border-top:1px solid #E0E0E0;
	background: -webkit-gradient(linear, center top, center bottom, from(#fff), to(#c8c8c8)); background-image: linear-gradient(#fff, #c8c8c8);
}
b{font-size:12px; font-weight: normal;}
.tdlist .cols td{vertical-align:top; padding:10px 8px 10px 8px; border-bottom:1px solid #D1D1D1;background:#fff;}
.tdlist .cols:hover{background:#fff;}
.tdlist .tdbrand a{color:#124D87; font-weight:bold; font-size:12px; font-family:Verdana; line-height:18px;}
.tdlist .tdbrand a:hover{color:#C43800;}
.tdlist .lookup_analogues{background:#EDDDD5 url('images/srwhite.gif') 0px 2px no-repeat; color:#6E432E; float:right; margin:-5px -54px 0px 0px; text-decoration:none; font-size:11px; padding:3px 5px 4px 18px; border-radius:6px;}
.tdlist .lookup_analogues:hover{background:#CC9072 url('images/srwhite.gif') 0px 2px no-repeat; color:#ffffff; text-decoration:none; text-shadow:1px 1px 1px #3B3B3B; }
.tdlist .propstb td{padding:0px!important; border:0px!important;}
.tdlist .linked{color:#C43800!important;}
.tdlist .link{display:block; margin-right:4px; float:left; width:16px; height:16px; background:url('images/link.png');}
.tdlist .article{color:#000; font-size:13px; font-family:Verdana; cursor:default;}
.tdlist .gosrch{background:url('images/search.png') no-repeat; width:16px; height:16px; padding-left:20px; font-size:10px; margin-right:15px;}
.tdlist .listphoto{background:url('images/fotopic.png') no-repeat; width:27px; height:16px;}
div.prevphoto{/*float: left;*/width:15px; height:15px; outline: none; /*margin:-5px -5px -5px -5px;*/ background-size:contain; background-repeat:no-repeat; display: inline-block; /*background-position:50% 50%;*/}
div.prevphoto:hover{cursor:pointer;}
.tdlist .addphoto{font-size:10px; float:left; background:#74A4E3; color:#fff; text-shadow:1px 1px 1px #000; padding:1px 4px 3px 3px; cursor:default; border-bottom-right-radius:6px;}
.tdlist .name{color:#363636;}
.tdlist .dopinfo{width:16px; height:16px; background:url('images/dinfo.png'); float:left; display:block; margin:0px 6px 0px 0px;}
.tdlist .dopinfo:hover{opacity:0.5; margin-top:-1px;}
.tdlist .options{text-align:right;}
.tdlist .rigbord{border-right:1px solid #D1D1D1!important;}
.tdlist .carsapp{width:16px; height:16px; background:url('images/cars.png'); float:left; display:block; margin:0px;}
.tdlist .carsapp:hover{opacity:0.5; margin-top:-1px;}
.tdlist .sbut{color:#b42410; display:block; padding:0px 0px 6px 0px; text-align:center;}
.tdlist .optionstab{float:right;}
.tdlist .optionstab td{padding:0px!important; height:37px!important; border:0px;}
.tdlist .criteria{color:#5b5b5b; font-size:11px;}
.tdlist .topbord{border-top:1px solid #D1D1D1!important;}
.tdlist .itemprops{height:44px; overflow:hidden; cursor:default; margin:0px 0px 3px 0px; line-height:14px!important;}
.tdlist .moreprops{font-size:11px;}
.tdlist .moreprops:hover{color:#B85C00;}
.tdlist .criteria{font-size:11px;}

.listprice td{border:0px solid #D1D1D1; text-align:left!important; position:relative;}
.listprice .thead td{padding:0px 0px 0px 5px!important; border-top:0px!important;}
.listprice .trow td{ cursor:default; border-bottom:0px!important;}

/* LIST price width */
.listprice{width:370px;font-size: 13px;}
.listprice .avail{width:35px;} 
.listprice .day{width:40px;} 
.listprice .cost{width:70px;} 
.listprice .tocart{width:46px;} 

.listprice .trow .avail{color:#cc3333;}
.listprice .trow .day{text-indent:18px; background:url('images/sclock.png') 0% 50% no-repeat; white-space: nowrap; overflow:hidden; text-overflow:ellipsis;}
.listprice .trow .cost{font-size:19px;} 
.listprice .trow .tocart{padding-top:7px!important;}

.criteria {
	font-size: 11px;
}
.criteria.hidden {
	display: none;
}


