/* CSS BLOCK #1 */
.sirt{
    list-style: none;
	padding: 15px;
	margin-left:20px;
}
ol{
padding: 5px;
display: inline-block;
width: 12%;
vertical-align: top;
}


a.asy{
font-size:15px;
text-decoration: none;
border-bottom: 1px dashed #00AEEF;
color:#009FFF;
}
a.asy:hover	{ color:#979797 }
a.asy:active {
    color: #000;
}
.podb{
background-image: url(/image/data/img5.png);
min-width:330px;
height:300px;
margin-left:600px;
margin-top:-300px;
}
.qw{
font-size:25px;
border-bottom: 1px dashed #00A9E7;
}
.oilsh{
margin-left:70px;

}