<div id="footer">
  <?php if ($informations) { ?>
  <div class="column">
    <h3>Товары</h3>
    <ul>
      <li><a href="/autoparts">Запчасти</a></li>
      <li><a href="/amortizatory">Амортизаторы</a></li>
      <li><a href="/akkumulyatori">Аккумуляторы</a></li>
	  <li><a href="/instrument">Инструмент</a></li>
	  <li><a href="/oil">Масла</a></li>
	  <li><a href="/autohim">Автохимия</a></li>
    </ul>
  </div>
  <?php } ?>
  <div class="column">
    <h3><?php echo $text_service; ?></h3>
    <ul>
      <li><a href="<?php echo $contact; ?>"><?php echo $text_contact; ?></a></li>
      <li><a href="<?php echo $return; ?>"><?php echo $text_return; ?></a></li>
      <li><a href="<?php echo $sitemap; ?>"><?php echo $text_sitemap; ?></a></li>
	  <li><a href="<?php echo $manufacturer; ?>"><?php echo $text_manufacturer; ?></a></li>
      <li><a href="<?php echo $voucher; ?>"><?php echo $text_voucher; ?></a></li>
      <li><a href="<?php echo $affiliate; ?>"><?php echo $text_affiliate; ?></a></li>
      <li><a href="<?php echo $special; ?>"><?php echo $text_special; ?></a></li>
    </ul>
  </div>
  
  <div class="column">
    <h3><?php echo $text_account; ?></h3>
    <ul>
      <li><a href="<?php echo $account; ?>"><?php echo $text_account; ?></a></li>
      <li><a href="<?php echo $order; ?>"><?php echo $text_order; ?></a></li>
      <li><a href="<?php echo $wishlist; ?>"><?php echo $text_wishlist; ?></a></li>
      <li><a href="<?php echo $newsletter; ?>"><?php echo $text_newsletter; ?></a></li>
    </ul>
  </div><h1 style="font-size:25px; color:#fff;">0953997237</h1><t style="color:#fff;">Пн-Пт 9:00 до 18:00</t><br><br><a href="/pay"><img src="image/slide03privat24.jpg" style="width:210px; haight:50px;"></a><div class="copy">Купить запчасти Киев, Харьков , Одесса, Днепропетровск, Сумы, Запорожье и еще 26 городов</div></div>

</div>
</div>
</body></html>